---
/**
 * Infrastructure Tab Switcher Component
 */
const tabs = [
  {
    id: "gl-stream",
    label: "GL Stream",
    image: "https://cdn.prod.website-files.com/63ede4a3da6dbd6b05c4612f/6a05563018464102613a7afe_compliance.png",
    icon: `<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.10005 5.09998H11.9001V11.9H5.10005V5.09998Z" fill="#338878"/><path d="M16.15 9.35C16.66 9.35 17 9.01 17 8.5C17 8.075 16.66 7.65 16.15 7.65H15.3V5.95H16.15C16.66 5.95 17 5.61 17 5.1C17 4.675 16.66 4.25 16.15 4.25H15.3V3.4C15.3 2.465 14.535 1.7 13.6 1.7H12.75V0.85C12.75 0.425 12.41 0 11.9 0C11.475 0 11.05 0.34 11.05 0.85V1.7H9.35V0.85C9.35 0.425 9.01 0 8.5 0C7.99 0 7.65 0.34 7.65 0.85V1.7H5.95V0.85C5.95 0.425 5.61 0 5.1 0C4.59 0 4.25 0.34 4.25 0.85V1.7H3.4C2.465 1.7 1.7 2.465 1.7 3.4V4.25H0.85C0.34 4.25 0 4.59 0 5.1C0 5.525 0.34 5.95 0.85 5.95H1.7V7.65H0.85C0.34 7.65 0 7.99 0 8.5C0 8.925 0.34 9.35 0.85 9.35H1.7V11.05H0.85C0.34 11.05 0 11.39 0 11.9C0 12.325 0.34 12.75 0.85 12.75H1.7V13.6C1.7 14.535 2.465 15.3 3.4 15.3H4.25V16.15C4.25 16.575 4.59 17 5.1 17C5.61 17 5.95 16.66 5.95 16.15V15.3H7.65V16.15C7.65 16.575 7.99 17 8.5 17C9.01 17 9.35 16.66 9.35 16.15V15.3H11.05V16.15C11.05 16.575 11.39 17 11.9 17C12.325 17 12.75 16.66 12.75 16.15V15.3H13.6C14.535 15.3 15.3 14.535 15.3 13.6V12.75H16.15C16.66 12.75 17 12.41 17 11.9C17 11.475 16.66 11.05 16.15 11.05H15.3V9.35H16.15ZM13.6 13.6H3.4V3.4H13.6V13.6Z" fill="#338878"/></svg>`,
    title: "100% of your GL data in Clear. Trial balance verified.",
    description: "GL-Stream ingests raw general ledger data from SAP, Oracle, and Dynamics 365 through a single connector. Every debit and credit is verified against the trial balance before compliance work begins.",
    points: [
      { label: "Trial balance match: 100%", cardIcon: `<svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.4394 4.79505H11.5604L13.499 1.21609C13.5614 1.10095 13.5855 0.968946 13.5679 0.839191C13.5502 0.709436 13.4918 0.588657 13.4009 0.49433C13.3101 0.400003 13.1916 0.337023 13.0626 0.314501C12.9336 0.29198 12.8008 0.311087 12.6834 0.369057C11.2961 1.05404 10.0829 0.761725 8.67822 0.423431C7.28909 0.0888384 5.71484 -0.29038 3.84586 0.337387C3.76056 0.366043 3.68256 0.413012 3.61733 0.475001C3.5521 0.536989 3.50122 0.612495 3.46826 0.696226C3.4353 0.779956 3.42105 0.869883 3.42652 0.959702C3.43199 1.04952 3.45704 1.13706 3.49991 1.21617L5.4394 4.79505ZM12.2058 6.27952C12.1256 6.19646 12.0448 6.11283 11.9636 6.02862H5.03624C4.95511 6.11272 4.87437 6.19635 4.79403 6.27952C3.54322 7.57363 2.36172 8.79605 1.48224 10.1644C0.47102 11.7378 0 13.2802 0 15.0186C0 17.0356 1.08752 18.5755 3.14488 19.4718C4.90454 20.2384 7.02796 20.3993 8.49942 20.3993C9.98163 20.3993 12.1168 20.2383 13.8714 19.4715C15.9181 18.5769 17 17.0371 17 15.0186C17 13.2802 16.529 11.7377 15.5178 10.1644C14.6383 8.79605 13.4568 7.57363 12.2058 6.27952ZM8.62627 11.9939C9.06813 12.0869 9.525 12.1831 9.91689 12.4414C10.4261 12.777 10.6843 13.2958 10.6843 13.9833C10.6843 14.8909 10.0215 15.6589 9.11621 15.9035V16.2217C9.11621 16.3854 9.05121 16.5423 8.93551 16.658C8.81981 16.7737 8.66289 16.8387 8.49926 16.8387C8.33564 16.8387 8.17871 16.7737 8.06301 16.658C7.94731 16.5423 7.88231 16.3854 7.88231 16.2217V15.9035C6.97704 15.6589 6.31423 14.8909 6.31423 13.9833C6.31423 13.8197 6.37923 13.6627 6.49493 13.547C6.61063 13.4313 6.76756 13.3663 6.93118 13.3663C7.09481 13.3663 7.25173 13.4313 7.36743 13.547C7.48313 13.6627 7.54813 13.8197 7.54813 13.9833C7.54813 14.4069 7.97481 14.7514 8.49926 14.7514C9.02371 14.7514 9.45039 14.4068 9.45039 13.9833C9.45039 13.5062 9.29924 13.3964 8.37221 13.2014C7.93039 13.1084 7.47348 13.0122 7.08163 12.7539C6.5724 12.4182 6.31423 11.8995 6.31423 11.212C6.31423 10.3038 6.97704 9.5354 7.88231 9.29068V8.97353C7.88231 8.8099 7.94731 8.65298 8.06301 8.53728C8.17871 8.42158 8.33564 8.35658 8.49926 8.35658C8.66289 8.35658 8.81981 8.42158 8.93551 8.53728C9.05121 8.65298 9.11621 8.8099 9.11621 8.97353V9.29056C10.0215 9.53528 10.6843 10.3037 10.6843 11.2119C10.6843 11.3755 10.6193 11.5324 10.5036 11.6481C10.3879 11.7638 10.231 11.8288 10.0673 11.8288C9.90372 11.8288 9.74679 11.7638 9.63109 11.6481C9.51539 11.5324 9.45039 11.3755 9.45039 11.2119C9.45039 10.7877 9.02371 10.4427 8.49926 10.4427C7.97481 10.4427 7.54813 10.7878 7.54813 11.2119C7.54829 11.6892 7.69945 11.7988 8.62643 11.9939H8.62627Z" fill="#43B29C"/></svg>` },
      { label: "Data prep: 2 days → 2 mins", cardIcon: `<svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.4394 4.79505H11.5604L13.499 1.21609C13.5614 1.10095 13.5855 0.968946 13.5679 0.839191C13.5502 0.709436 13.4918 0.588657 13.4009 0.49433C13.3101 0.400003 13.1916 0.337023 13.0626 0.314501C12.9336 0.29198 12.8008 0.311087 12.6834 0.369057C11.2961 1.05404 10.0829 0.761725 8.67822 0.423431C7.28909 0.0888384 5.71484 -0.29038 3.84586 0.337387C3.76056 0.366043 3.68256 0.413012 3.61733 0.475001C3.5521 0.536989 3.50122 0.612495 3.46826 0.696226C3.4353 0.779956 3.42105 0.869883 3.42652 0.959702C3.43199 1.04952 3.45704 1.13706 3.49991 1.21617L5.4394 4.79505ZM12.2058 6.27952C12.1256 6.19646 12.0448 6.11283 11.9636 6.02862H5.03624C4.95511 6.11272 4.87437 6.19635 4.79403 6.27952C3.54322 7.57363 2.36172 8.79605 1.48224 10.1644C0.47102 11.7378 0 13.2802 0 15.0186C0 17.0356 1.08752 18.5755 3.14488 19.4718C4.90454 20.2384 7.02796 20.3993 8.49942 20.3993C9.98163 20.3993 12.1168 20.2383 13.8714 19.4715C15.9181 18.5769 17 17.0371 17 15.0186C17 13.2802 16.529 11.7377 15.5178 10.1644C14.6383 8.79605 13.4568 7.57363 12.2058 6.27952ZM8.62627 11.9939C9.06813 12.0869 9.525 12.1831 9.91689 12.4414C10.4261 12.777 10.6843 13.2958 10.6843 13.9833C10.6843 14.8909 10.0215 15.6589 9.11621 15.9035V16.2217C9.11621 16.3854 9.05121 16.5423 8.93551 16.658C8.81981 16.7737 8.66289 16.8387 8.49926 16.8387C8.33564 16.8387 8.17871 16.7737 8.06301 16.658C7.94731 16.5423 7.88231 16.3854 7.88231 16.2217V15.9035C6.97704 15.6589 6.31423 14.8909 6.31423 13.9833C6.31423 13.8197 6.37923 13.6627 6.49493 13.547C6.61063 13.4313 6.76756 13.3663 6.93118 13.3663C7.09481 13.3663 7.25173 13.4313 7.36743 13.547C7.48313 13.6627 7.54813 13.8197 7.54813 13.9833C7.54813 14.4069 7.97481 14.7514 8.49926 14.7514C9.02371 14.7514 9.45039 14.4068 9.45039 13.9833C9.45039 13.5062 9.29924 13.3964 8.37221 13.2014C7.93039 13.1084 7.47348 13.0122 7.08163 12.7539C6.5724 12.4182 6.31423 11.8995 6.31423 11.212C6.31423 10.3038 6.97704 9.5354 7.88231 9.29068V8.97353C7.88231 8.8099 7.94731 8.65298 8.06301 8.53728C8.17871 8.42158 8.33564 8.35658 8.49926 8.35658C8.66289 8.35658 8.81981 8.42158 8.93551 8.53728C9.05121 8.65298 9.11621 8.8099 9.11621 8.97353V9.29056C10.0215 9.53528 10.6843 10.3037 10.6843 11.2119C10.6843 11.3755 10.6193 11.5324 10.5036 11.6481C10.3879 11.7638 10.231 11.8288 10.0673 11.8288C9.90372 11.8288 9.74679 11.7638 9.63109 11.6481C9.51539 11.5324 9.45039 11.3755 9.45039 11.2119C9.45039 10.7877 9.02371 10.4427 8.49926 10.4427C7.97481 10.4427 7.54813 10.7878 7.54813 11.2119C7.54829 11.6892 7.69945 11.7988 8.62643 11.9939H8.62627Z" fill="#43B29C"/></svg>` },
      { label: "SAP, Oracle, Dynamics 365", cardIcon: `<svg width="23" height="17" viewBox="0 0 23 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.221 0H16.4349H5.80632H3.02019C2.09504 0 1.34424 0.750797 1.34424 1.67951V13.9805H20.897V1.67951C20.897 0.750797 20.1462 0 19.221 0Z" fill="#43B29C"/><path d="M21.7362 14.5171H0.50321C0.174781 14.5171 -0.0664703 14.8263 0.0164376 15.1391C0.293272 16.208 1.26682 17.0001 2.42183 17.0001H19.8218C20.9765 17.0001 21.9461 16.208 22.2229 15.1391C22.3059 14.8259 22.0646 14.5171 21.7362 14.5171Z" fill="#43B29C"/><path d="M15.0964 7.01234L14.5948 6.95826C14.4793 6.94596 14.3809 6.86483 14.3465 6.75174C14.3121 6.63373 14.2728 6.52063 14.2236 6.40754C14.167 6.2674 14.1007 6.13464 14.0245 6.00434C13.9654 5.90108 13.9753 5.76832 14.0515 5.67489L14.376 5.27415C14.3834 5.26432 14.3883 5.25694 14.3932 5.24711C14.467 5.13401 14.4522 4.98158 14.3539 4.88324L13.8769 4.40628C13.7712 4.30057 13.604 4.29073 13.486 4.38662L13.0681 4.72344C12.9771 4.79719 12.8493 4.80949 12.7435 4.75048C12.5174 4.6251 12.2715 4.52429 12.0134 4.453C11.9571 4.43711 11.9069 4.40473 11.8692 4.36003C11.8315 4.31533 11.8081 4.26037 11.8019 4.20223L11.7454 3.66626C11.7306 3.51629 11.6052 3.4032 11.4553 3.4032H10.7792C10.6292 3.4032 10.5038 3.51629 10.4891 3.66626L10.4301 4.20468C10.4178 4.32269 10.3342 4.42104 10.2186 4.453C9.96293 4.52429 9.71708 4.6251 9.48843 4.75294C9.38518 4.80949 9.25733 4.79719 9.16391 4.72344L8.74841 4.38662C8.6304 4.29073 8.46076 4.30057 8.35504 4.40628L7.87809 4.88324C7.77974 4.98158 7.76745 5.13401 7.83875 5.24711C7.84367 5.25694 7.85104 5.26432 7.85842 5.27415L8.17311 5.66506C8.25179 5.76094 8.26162 5.8937 8.1977 5.99942C8.12148 6.11989 8.0551 6.26003 8.00101 6.40754C7.95676 6.51818 7.91742 6.63373 7.88546 6.74928C7.8535 6.86483 7.75516 6.94596 7.63715 6.95826L7.13806 7.01234C6.98809 7.02955 6.875 7.15494 6.875 7.30245V7.97855C6.875 8.12606 6.98809 8.25391 7.13806 8.26866L7.60765 8.31783C7.72812 8.33012 7.82892 8.41617 7.85842 8.53418C7.92972 8.81446 8.03789 9.07998 8.17557 9.32583C8.23458 9.42909 8.22228 9.5594 8.14853 9.65036L7.85842 10.0069C7.76499 10.1224 7.77237 10.292 7.87809 10.3978L8.35504 10.8723C8.46076 10.978 8.6304 10.9878 8.74595 10.8944L9.08523 10.619C9.18112 10.5428 9.31142 10.533 9.41714 10.5944C9.66791 10.742 9.94326 10.8575 10.2334 10.9362C10.3489 10.9681 10.4301 11.0689 10.4448 11.187L10.4891 11.6147C10.5038 11.7623 10.6292 11.8753 10.7792 11.8753H11.4553C11.6052 11.8753 11.7306 11.7623 11.7454 11.6147L11.7921 11.187C11.8044 11.0665 11.888 10.9681 12.0035 10.9362C12.2912 10.8575 12.5641 10.742 12.8173 10.5944C12.9206 10.533 13.0533 10.5428 13.1467 10.619L13.486 10.8944C13.604 10.9878 13.7712 10.978 13.8769 10.8723L14.3539 10.3978C14.4596 10.292 14.4694 10.1224 14.3736 10.0069L14.0859 9.65036C14.0497 9.60514 14.0275 9.55025 14.0223 9.49254C14.017 9.43483 14.0289 9.37685 14.0564 9.32583C14.1965 9.07998 14.3023 8.81446 14.376 8.53418C14.4055 8.41617 14.5063 8.33012 14.6268 8.31783L15.0964 8.26866C15.2463 8.25391 15.3594 8.12606 15.3594 7.97855V7.30245C15.3594 7.15494 15.2463 7.02955 15.0964 7.01234ZM13.073 7.64173C13.073 8.16011 12.8671 8.65725 12.5005 9.0238C12.134 9.39035 11.6368 9.59627 11.1185 9.59627V9.59382C10.0367 9.59382 9.15899 8.71857 9.15899 7.63927C9.15899 6.55997 10.0367 5.68473 11.1185 5.68473C12.1978 5.68473 13.0755 6.55997 13.0755 7.63927L13.073 7.64173Z" fill="#FCFCFD"/></svg>` },
      { label: "Verified GL foundation", cardIcon: `<svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.7044 2.17058C16.5842 1.99966 16.4312 1.85433 16.2543 1.74304C16.0775 1.63175 15.8803 1.55673 15.6741 1.52232L6.81227 0.0190604C6.58875 -0.015507 6.36047 -0.00295785 6.14209 0.0559023C5.92371 0.114762 5.72005 0.218633 5.54418 0.360847C5.36831 0.503061 5.22412 0.680476 5.12086 0.881704C5.0176 1.08293 4.95755 1.30353 4.94458 1.52933C5.20669 1.52793 9.98593 1.53038 10.411 1.52933C11.0613 1.53007 11.6848 1.78874 12.1446 2.24858C12.6044 2.70842 12.8631 3.33189 12.8639 3.9822V10.8082C13.84 10.84 14.7799 11.1852 15.5445 11.7929L16.9777 3.35497C17.0127 3.14928 17.0066 2.9387 16.9596 2.7354C16.9127 2.5321 16.826 2.34012 16.7044 2.17058ZM12.7027 11.5055C11.67 11.507 10.6801 11.9181 9.95026 12.6486C9.22039 13.3792 8.81016 14.3694 8.80961 15.4021C9.02406 20.5668 16.382 20.5654 16.5957 15.4021C16.5952 14.3694 16.1849 13.3792 15.4551 12.6486C14.7252 11.9181 13.7353 11.507 12.7027 11.5055ZM12.7027 15.0517C12.989 15.0546 13.2649 15.1596 13.4808 15.3477C13.6967 15.5357 13.8385 15.7946 13.8807 16.0778C13.9229 16.3611 13.8628 16.65 13.7111 16.8929C13.5594 17.1358 13.3261 17.3166 13.0531 17.4029V17.8725C13.0531 17.9654 13.0162 18.0545 12.9504 18.1202C12.8847 18.186 12.7956 18.2229 12.7027 18.2229C12.6097 18.2229 12.5206 18.186 12.4549 18.1202C12.3892 18.0545 12.3523 17.9654 12.3523 17.8725V17.4029C12.1064 17.3271 11.8911 17.1747 11.7379 16.9679C11.5848 16.7612 11.5017 16.5109 11.5008 16.2536C11.5008 16.1606 11.5377 16.0715 11.6034 16.0058C11.6691 15.9401 11.7582 15.9032 11.8512 15.9032C11.9441 15.9032 12.0332 15.9401 12.0989 16.0058C12.1647 16.0715 12.2016 16.1606 12.2016 16.2536C12.2016 16.3527 12.231 16.4496 12.286 16.532C12.3411 16.6144 12.4193 16.6786 12.5109 16.7165C12.6025 16.7544 12.7032 16.7644 12.8004 16.745C12.8976 16.7257 12.9869 16.678 13.057 16.6079C13.1271 16.5378 13.1748 16.4485 13.1941 16.3513C13.2135 16.2541 13.2035 16.1534 13.1656 16.0618C13.1277 15.9703 13.0635 15.892 12.9811 15.8369C12.8987 15.7819 12.8018 15.7525 12.7027 15.7525C12.4148 15.7522 12.1366 15.6486 11.9186 15.4606C11.7007 15.2725 11.5575 15.0125 11.515 14.7277C11.4726 14.443 11.5338 14.1525 11.6874 13.9091C11.8411 13.6656 12.077 13.4854 12.3523 13.4012V12.9282C12.3523 12.8352 12.3892 12.7461 12.4549 12.6804C12.5206 12.6147 12.6097 12.5778 12.7027 12.5778C12.7956 12.5778 12.8847 12.6147 12.9504 12.6804C13.0162 12.7461 13.0531 12.8352 13.0531 12.9282V13.4012C13.299 13.4758 13.5146 13.6274 13.6679 13.8337C13.8212 14.04 13.9041 14.2901 13.9046 14.5471C13.9046 14.64 13.8677 14.7291 13.8019 14.7949C13.7362 14.8606 13.6471 14.8975 13.5542 14.8975C13.4612 14.8975 13.3721 14.8606 13.3064 14.7949C13.2407 14.7291 13.2038 14.64 13.2038 14.5471C13.2031 14.4481 13.1731 14.3516 13.1176 14.2696C13.0621 14.1877 12.9836 14.124 12.892 14.0866C12.8004 14.0492 12.6997 14.0398 12.6028 14.0596C12.5058 14.0793 12.4169 14.1273 12.3471 14.1975C12.2774 14.2677 12.23 14.357 12.211 14.4541C12.1919 14.5512 12.202 14.6518 12.2401 14.7431C12.2781 14.8345 12.3423 14.9125 12.4246 14.9675C12.507 15.0224 12.6037 15.0517 12.7027 15.0517Z" fill="#43B29C"/><path d="M9.07913 18.2198C6.8698 15.4446 8.67967 11.2081 12.1662 10.8367V3.98264C12.1661 3.51803 11.9814 3.07249 11.6529 2.74396C11.3243 2.41543 10.8788 2.23078 10.4142 2.23059H1.75205C1.28744 2.23078 0.841903 2.41543 0.513369 2.74396C0.184836 3.07249 0.000185735 3.51803 0 3.98264V17.8694C0.000185735 18.334 0.184836 18.7796 0.513369 19.1081C0.841903 19.4366 1.28744 19.6213 1.75205 19.6215H10.4142C10.5415 19.6217 10.6685 19.6076 10.7926 19.5794C10.1202 19.271 9.53235 18.8045 9.07913 18.2198ZM1.75556 4.2034C1.75556 4.11047 1.79247 4.02134 1.85819 3.95562C1.9239 3.88991 2.01303 3.85299 2.10597 3.85299C2.1989 3.85299 2.28803 3.88991 2.35374 3.95562C2.41946 4.02134 2.45638 4.11047 2.45638 4.2034V8.09997H3.01353V5.64709C3.01353 5.55416 3.05045 5.46503 3.11616 5.39931C3.18188 5.3336 3.27101 5.29668 3.36394 5.29668C3.45687 5.29668 3.546 5.3336 3.61172 5.39931C3.67743 5.46503 3.71435 5.55416 3.71435 5.64709V8.09997H4.50978V6.32689C4.50978 6.23395 4.5467 6.14483 4.61241 6.07911C4.67813 6.0134 4.76726 5.97648 4.86019 5.97648C4.95313 5.97648 5.04225 6.0134 5.10797 6.07911C5.17368 6.14483 5.2106 6.23395 5.2106 6.32689V8.09997H6.00603V7.24146C6.00603 7.14853 6.04295 7.0594 6.10867 6.99368C6.17438 6.92797 6.26351 6.89105 6.35644 6.89105C6.44938 6.89105 6.53851 6.92797 6.60422 6.99368C6.66994 7.0594 6.70685 7.14853 6.70685 7.24146V8.09997H7.53733C7.63026 8.09997 7.71939 8.13688 7.78511 8.2026C7.85082 8.26831 7.88774 8.35744 7.88774 8.45038C7.88774 8.54331 7.85082 8.63244 7.78511 8.69815C7.71939 8.76387 7.63026 8.80079 7.53733 8.80079H2.10597C2.05991 8.80092 2.01428 8.79196 1.97171 8.77439C1.92913 8.75683 1.89045 8.73103 1.85788 8.69846C1.82531 8.6659 1.79951 8.62721 1.78195 8.58464C1.76439 8.54206 1.75542 8.49643 1.75556 8.45038V4.2034ZM2.35826 17.4209H7.53733C7.63026 17.4209 7.71939 17.4578 7.78511 17.5235C7.85082 17.5892 7.88774 17.6784 7.88774 17.7713C7.88774 17.8642 7.85082 17.9534 7.78511 18.0191C7.71939 18.0848 7.63026 18.1217 7.53733 18.1217H2.35826C2.26533 18.1217 2.1762 18.0848 2.11048 18.0191C2.04477 17.9534 2.00785 17.8642 2.00785 17.7713C2.00785 17.6784 2.04477 17.5892 2.11048 17.5235C2.1762 17.4578 2.26533 17.4209 2.35826 17.4209ZM2.00785 15.3114C2.00813 15.2186 2.04514 15.1296 2.11079 15.0639C2.17645 14.9983 2.26541 14.9613 2.35826 14.961H6.86454C6.95747 14.961 7.0466 14.9979 7.11232 15.0636C7.17803 15.1293 7.21495 15.2185 7.21495 15.3114C7.21495 15.4043 7.17803 15.4935 7.11232 15.5592C7.0466 15.6249 6.95747 15.6618 6.86454 15.6618H2.35826C2.26541 15.6615 2.17645 15.6245 2.11079 15.5589C2.04514 15.4932 2.00813 15.4043 2.00785 15.3114ZM7.61792 13.2019H2.35826C2.26533 13.2019 2.1762 13.165 2.11048 13.0993C2.04477 13.0336 2.00785 12.9445 2.00785 12.8515C2.00785 12.7586 2.04477 12.6695 2.11048 12.6038C2.1762 12.538 2.26533 12.5011 2.35826 12.5011H7.61792C7.71086 12.5011 7.79999 12.538 7.8657 12.6038C7.93141 12.6695 7.96833 12.7586 7.96833 12.8515C7.96833 12.9445 7.93141 13.0336 7.8657 13.0993C7.79999 13.165 7.71086 13.2019 7.61792 13.2019ZM9.80799 10.7456H2.35826C2.26533 10.7456 2.1762 10.7086 2.11048 10.6429C2.04477 10.5772 2.00785 10.4881 2.00785 10.3952C2.00785 10.3022 2.04477 10.2131 2.11048 10.1474C2.1762 10.0817 2.26533 10.0447 2.35826 10.0447H9.80799C9.90092 10.0447 9.99005 10.0817 10.0558 10.1474C10.1215 10.2131 10.1584 10.3022 10.1584 10.3952C10.1584 10.4881 10.1215 10.5772 10.0558 10.6429C9.99005 10.7086 9.90092 10.7456 9.80799 10.7456Z" fill="#43B29C"/></svg>` }
    ]
  },
  {
    id: "tds-filing",
    label: "TDS Filing",
    icon: '<svg width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.55322 5.66675H7.20894L6.88108 4.79651L6.55322 5.66675Z" fill="#13859F"/><path d="M8.90476 13.3571C8.90476 12.1763 9.37385 11.0438 10.2088 10.2088C11.0438 9.37385 12.1763 8.90476 13.3571 8.90476V1.61905C13.3571 1.18965 13.5277 0.777838 13.8314 0.474208C14.135 0.170578 14.5468 0 14.9762 0H1.61905C1.18965 0 0.777838 0.170578 0.474208 0.474208C0.170578 0.777838 0 1.18965 0 1.61905V18.619H13.3571V17.8095C12.1763 17.8095 11.0438 17.3404 10.2088 16.5055C9.37385 15.6705 8.90476 14.538 8.90476 13.3571ZM8.94929 3.825C8.91 3.73065 8.90786 3.62494 8.94329 3.52907C8.97872 3.43321 9.0491 3.3543 9.14031 3.30819C9.23151 3.26207 9.33679 3.25217 9.43499 3.28046C9.5332 3.30875 9.61707 3.37314 9.66976 3.46071L10.119 4.35524L10.5683 3.46071C10.621 3.37314 10.7049 3.30875 10.8031 3.28046C10.9013 3.25217 11.0066 3.26207 11.0978 3.30819C11.189 3.3543 11.2594 3.43321 11.2948 3.52907C11.3302 3.62494 11.3281 3.73065 11.2888 3.825L10.5724 5.26191L11.2888 6.69881C11.3199 6.76043 11.3346 6.82896 11.3318 6.89789C11.3289 6.96683 11.3084 7.03389 11.2723 7.09269C11.2362 7.15149 11.1857 7.2001 11.1255 7.23388C11.0654 7.26766 10.9976 7.28551 10.9286 7.28572C10.6088 7.28572 10.5805 7.09143 10.119 6.16857C9.64143 7.12786 9.62524 7.28572 9.30952 7.28572C9.24053 7.28551 9.17273 7.26766 9.11257 7.23388C9.05241 7.2001 9.00188 7.15149 8.96579 7.09269C8.92969 7.03389 8.90923 6.96683 8.90634 6.89789C8.90345 6.82896 8.91824 6.76043 8.94929 6.69881L9.66572 5.26191L8.94929 3.825ZM2.42857 3.2381H4.85714C4.96449 3.2381 5.06745 3.28074 5.14335 3.35665C5.21926 3.43256 5.26191 3.53551 5.26191 3.64286C5.26191 3.75021 5.21926 3.85316 5.14335 3.92907C5.06745 4.00497 4.96449 4.04762 4.85714 4.04762H4.04762V6.88095C4.04762 6.9883 4.00497 7.09126 3.92907 7.16716C3.85316 7.24307 3.75021 7.28572 3.64286 7.28572C3.53551 7.28572 3.43256 7.24307 3.35665 7.16716C3.28074 7.09126 3.2381 6.9883 3.2381 6.88095V4.04762H2.42857C2.32122 4.04762 2.21827 4.00497 2.14236 3.92907C2.06645 3.85316 2.02381 3.75021 2.02381 3.64286C2.02381 3.53551 2.06645 3.43256 2.14236 3.35665C2.21827 3.28074 2.32122 3.2381 2.42857 3.2381ZM2.02381 9.71429H5.26191C5.36925 9.71429 5.47221 9.75693 5.54812 9.83284C5.62402 9.90875 5.66667 10.0117 5.66667 10.119C5.66667 10.2264 5.62402 10.3294 5.54812 10.4053C5.47221 10.4812 5.36925 10.5238 5.26191 10.5238H2.02381C1.91646 10.5238 1.81351 10.4812 1.7376 10.4053C1.66169 10.3294 1.61905 10.2264 1.61905 10.119C1.61905 10.0117 1.66169 9.90875 1.7376 9.83284C1.81351 9.75693 1.91646 9.71429 2.02381 9.71429ZM7.69048 16.5952H2.02381C1.91646 16.5952 1.81351 16.5526 1.7376 16.4767C1.66169 16.4008 1.61905 16.2978 1.61905 16.1905C1.61905 16.0831 1.66169 15.9802 1.7376 15.9043C1.81351 15.8284 1.91646 15.7857 2.02381 15.7857H7.69048C7.79783 15.7857 7.90078 15.8284 7.97669 15.9043C8.0526 15.9802 8.09524 16.0831 8.09524 16.1905C8.09524 16.2978 8.0526 16.4008 7.97669 16.4767C7.90078 16.5526 7.79783 16.5952 7.69048 16.5952ZM7.69048 14.5714H2.02381C1.91646 14.5714 1.81351 14.5288 1.7376 14.4529C1.66169 14.377 1.61905 14.274 1.61905 14.1667C1.61905 14.0593 1.66169 13.9564 1.7376 13.8805C1.81351 13.8046 1.91646 13.7619 2.02381 13.7619H7.69048C7.79783 13.7619 7.90078 13.8046 7.97669 13.8805C8.0526 13.9564 8.09524 14.0593 8.09524 14.1667C8.09524 14.274 8.0526 14.377 7.97669 14.4529C7.90078 14.5288 7.79783 14.5714 7.69048 14.5714ZM7.69048 12.5476H2.02381C1.91646 12.5476 1.81351 12.505 1.7376 12.4291C1.66169 12.3532 1.61905 12.2502 1.61905 12.1429C1.61905 12.0355 1.66169 11.9326 1.7376 11.8566C1.81351 11.7807 1.91646 11.7381 2.02381 11.7381H7.69048C7.79783 11.7381 7.90078 11.7807 7.97669 11.8566C8.0526 11.9326 8.09524 12.0355 8.09524 12.1429C8.09524 12.2502 8.0526 12.3532 7.97669 12.4291C7.90078 12.505 7.79783 12.5476 7.69048 12.5476ZM7.71476 7.02262L7.51238 6.47619H6.24952L6.04714 7.02262C6.00957 7.12353 5.93345 7.20538 5.83553 7.25016C5.73761 7.29495 5.62591 7.299 5.525 7.26143C5.42409 7.22386 5.34224 7.14774 5.29746 7.04982C5.25267 6.9519 5.24862 6.84019 5.28619 6.73929L6.50048 3.50119C6.52884 3.42305 6.58057 3.35554 6.64864 3.30783C6.71671 3.26012 6.79783 3.23452 6.88095 3.23452C6.96408 3.23452 7.04519 3.26012 7.11326 3.30783C7.18134 3.35554 7.23307 3.42305 7.26143 3.50119L8.47572 6.73929C8.51329 6.84019 8.50924 6.9519 8.46445 7.04982C8.41966 7.14774 8.33781 7.22386 8.23691 7.26143C8.136 7.299 8.0243 7.29495 7.92638 7.25016C7.82845 7.20538 7.75233 7.12353 7.71476 7.02262Z" fill="#13859F"/><path d="M14.1667 2.02386V3.23814H16.5953V2.02386C16.5953 1.70181 16.4674 1.39295 16.2397 1.16523C16.0119 0.937504 15.7031 0.80957 15.381 0.80957C15.059 0.80957 14.7501 0.937504 14.5224 1.16523C14.2947 1.39295 14.1667 1.70181 14.1667 2.02386ZM13.3572 9.71433C12.6367 9.71433 11.9324 9.92798 11.3334 10.3283C10.7343 10.7285 10.2674 11.2975 9.99165 11.9631C9.71593 12.6288 9.64379 13.3612 9.78435 14.0679C9.92491 14.7745 10.2719 15.4236 10.7813 15.9331C11.2908 16.4425 11.9399 16.7895 12.6465 16.93C13.3532 17.0706 14.0856 16.9985 14.7513 16.7228C15.4169 16.447 15.9859 15.9801 16.3861 15.3811C16.7864 14.782 17.0001 14.0777 17.0001 13.3572C17.0001 12.391 16.6163 11.4645 15.9331 10.7813C15.2499 10.0981 14.3234 9.71433 13.3572 9.71433ZM11.3334 12.1429C11.3334 11.9828 11.3809 11.8263 11.4698 11.6932C11.5588 11.56 11.6852 11.4563 11.8331 11.395C11.9811 11.3337 12.1438 11.3177 12.3009 11.3489C12.4579 11.3802 12.6021 11.4573 12.7153 11.5705C12.8286 11.6837 12.9057 11.8279 12.9369 11.985C12.9681 12.142 12.9521 12.3048 12.8908 12.4527C12.8296 12.6006 12.7258 12.727 12.5927 12.816C12.4596 12.905 12.303 12.9524 12.1429 12.9524C11.9282 12.9524 11.7223 12.8671 11.5705 12.7153C11.4187 12.5635 11.3334 12.3576 11.3334 12.1429ZM12.3777 15.2312C12.3106 15.316 12.2126 15.3707 12.1052 15.3832C11.9977 15.3958 11.8898 15.3651 11.805 15.298C11.7201 15.2309 11.6655 15.1329 11.6529 15.0255C11.6404 14.9181 11.6711 14.8101 11.7382 14.7253L14.3286 11.4872C14.3957 11.4013 14.4942 11.3456 14.6024 11.3323C14.7105 11.319 14.8195 11.3493 14.9054 11.4164C14.9913 11.4834 15.047 11.5819 15.0603 11.6901C15.0736 11.7982 15.0434 11.9073 14.9763 11.9931L12.3777 15.2312ZM14.5715 15.381C14.4114 15.381 14.2549 15.3335 14.1218 15.2446C13.9886 15.1556 13.8849 15.0292 13.8236 14.8813C13.7623 14.7333 13.7463 14.5706 13.7775 14.4135C13.8088 14.2565 13.8859 14.1123 13.9991 13.9991C14.1123 13.8858 14.2565 13.8087 14.4136 13.7775C14.5706 13.7463 14.7334 13.7623 14.8813 13.8236C15.0292 13.8848 15.1556 13.9886 15.2446 14.1217C15.3335 14.2549 15.381 14.4114 15.381 14.5715C15.381 14.7862 15.2957 14.9921 15.1439 15.1439C14.9921 15.2957 14.7862 15.381 14.5715 15.381Z" fill="#13859F"/></svg>',
    image: "https://cdn.prod.website-files.com/63ede4a3da6dbd6b05c4612f/6a05562f6605b3493fb72be4_invoice.png",
    title: "End-to-end TDS filing. 200+ validations before every challan.",
    description: "ClearTax auto-imports TDS payable deductions, nets off advances, provisions, and reversals, then runs system-driven validations across PAN status, LDC limits, and 206AB compliance before payment.",
    points: [
      { label: "200+ pre-filing validations", cardIcon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.1026 8.20513C12.9362 8.20513 11.796 8.55101 10.8261 9.19903C9.8563 9.84704 9.10041 10.7681 8.65404 11.8457C8.20768 12.9233 8.09089 14.1091 8.31845 15.2531C8.546 16.3971 9.10768 17.4479 9.93245 18.2727C10.7572 19.0975 11.808 19.6591 12.952 19.8867C14.096 20.1142 15.2818 19.9974 16.3594 19.5511C17.437 19.1047 18.3581 18.3488 19.0061 17.379C19.6541 16.4092 20 15.269 20 14.1026C19.9973 12.5393 19.3751 11.0408 18.2697 9.93544C17.1643 8.83005 15.6658 8.20784 14.1026 8.20513ZM16.6462 13.0769L14.3385 16.1538C14.27 16.2404 14.1847 16.3123 14.0878 16.3652C13.9909 16.4181 13.8843 16.4508 13.7744 16.4615C13.5677 16.4597 13.3696 16.379 13.2205 16.2359L11.6821 14.6974C11.538 14.5532 11.4571 14.3577 11.4571 14.1538C11.4571 13.95 11.538 13.7545 11.6821 13.6103C11.8293 13.468 12.026 13.3885 12.2308 13.3885C12.4355 13.3885 12.6322 13.468 12.7795 13.6103L13.6821 14.5231L15.4564 12.1538C15.5788 11.9893 15.7616 11.8801 15.9645 11.8503C16.1674 11.8204 16.3739 11.8725 16.5385 11.9949C16.703 12.1173 16.8122 12.3 16.8421 12.503C16.8719 12.7059 16.8198 12.9124 16.6974 13.0769H16.6462ZM6.67692 13.8974H3.84615C3.64214 13.8974 3.44648 13.8164 3.30223 13.6721C3.15797 13.5279 3.07692 13.3322 3.07692 13.1282C3.07692 12.9242 3.15797 12.7285 3.30223 12.5843C3.44648 12.44 3.64214 12.359 3.84615 12.359H6.92308C7.13654 11.4307 7.5418 10.5573 8.11282 9.79487H3.84615C3.64214 9.79487 3.44648 9.71383 3.30223 9.56957C3.15797 9.42531 3.07692 9.22965 3.07692 9.02564C3.07692 8.82163 3.15797 8.62597 3.30223 8.48171C3.44648 8.33745 3.64214 8.25641 3.84615 8.25641H9.58974C10.8748 7.23827 12.4631 6.67872 14.1026 6.66667C14.3587 6.65134 14.6156 6.65134 14.8718 6.66667V1.28205C14.8718 0.94203 14.7367 0.615935 14.4963 0.375504C14.2559 0.135073 13.9298 0 13.5897 0H1.28205C0.94203 0 0.615935 0.135073 0.375504 0.375504C0.135073 0.615935 0 0.94203 0 1.28205V17.6923C0 18.0323 0.135073 18.3584 0.375504 18.5989C0.615935 18.8393 0.94203 18.9744 1.28205 18.9744H8.46154C7.28917 17.6236 6.65084 15.891 6.66667 14.1026C6.66496 14.017 6.66839 13.9313 6.67692 13.8462V13.8974ZM3.84615 4.10256H11.0256C11.2297 4.10256 11.4253 4.18361 11.5696 4.32787C11.7138 4.47213 11.7949 4.66778 11.7949 4.8718C11.7949 5.07581 11.7138 5.27146 11.5696 5.41572C11.4253 5.55998 11.2297 5.64103 11.0256 5.64103H3.84615C3.64214 5.64103 3.44648 5.55998 3.30223 5.41572C3.15797 5.27146 3.07692 5.07581 3.07692 4.8718C3.07692 4.66778 3.15797 4.47213 3.30223 4.32787C3.44648 4.18361 3.64214 4.10256 3.84615 4.10256Z" fill="#13859F"/></svg>' },
      { label: "Auto net-off of advances", cardIcon: '<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.2911 2.9553L17.8673 0.551633C17.8054 0.201094 17.4711 -0.033 17.1206 0.028832H17.1206C16.77 0.0906641 16.5359 0.424961 16.5978 0.7755L16.7472 1.62289C15.0269 0.568691 13.0358 0 11 0C8.0618 0 5.29947 1.14421 3.2218 3.2218C1.14417 5.29947 0 8.0618 0 11C0 11.356 0.288578 11.6445 0.644531 11.6445C1.00048 11.6445 1.28906 11.356 1.28906 11C1.28906 5.64536 5.64536 1.28906 11 1.28906C12.7824 1.28906 14.5261 1.7826 16.0361 2.69848L15.1407 2.85635C14.7901 2.91814 14.5561 3.25243 14.6179 3.60302C14.6797 3.95355 15.014 4.18765 15.3646 4.12582L17.7683 3.70193C18.1188 3.64014 18.3529 3.30584 18.2911 2.9553Z" fill="#13859F"/><path d="M18.0226 9.3616L17.0158 9.12471C16.9027 8.76151 16.7567 8.40938 16.5796 8.07271L17.1243 7.19284C17.2008 7.06932 17.2333 6.92359 17.2165 6.77928C17.1998 6.63498 17.1348 6.50056 17.032 6.39783L15.6023 4.968C15.4995 4.86527 15.3651 4.80026 15.2208 4.78351C15.0765 4.76677 14.9307 4.79927 14.8072 4.87575L13.9273 5.42046C13.5907 5.24335 13.2385 5.09734 12.8753 4.98425L12.6384 3.97745C12.6052 3.83603 12.5251 3.70999 12.4112 3.61978C12.2973 3.52957 12.1563 3.48048 12.0111 3.48047H9.98895C9.84368 3.48047 9.70267 3.52955 9.58879 3.61974C9.47491 3.70993 9.39484 3.83595 9.36156 3.97736L9.12467 4.98416C8.76147 5.09727 8.40934 5.24328 8.07267 5.42038L7.1928 4.87566C7.06927 4.79919 6.92353 4.76669 6.77922 4.78344C6.6349 4.80018 6.50048 4.86519 6.39775 4.96792L4.96796 6.39775C4.86524 6.50047 4.80023 6.63489 4.78349 6.7792C4.76674 6.9235 4.79924 7.06923 4.87571 7.19275L5.42038 8.07262C5.24329 8.4093 5.09728 8.76143 4.98416 9.12463L3.97736 9.36152C3.83595 9.39482 3.70994 9.47492 3.61975 9.58881C3.52956 9.7027 3.48048 9.84371 3.48047 9.98899V12.011C3.48047 12.1563 3.52955 12.2973 3.61974 12.4112C3.70993 12.5251 3.83595 12.6051 3.97736 12.6384L4.98416 12.8753C5.09727 13.2385 5.24328 13.5906 5.42038 13.9273L4.87571 14.8072C4.79923 14.9307 4.76673 15.0764 4.78348 15.2207C4.80023 15.365 4.86523 15.4994 4.96796 15.6021L6.39775 17.032C6.50048 17.1347 6.6349 17.1997 6.77922 17.2165C6.92353 17.2332 7.06927 17.2007 7.1928 17.1243L8.07267 16.5795C8.40933 16.7567 8.76146 16.9027 9.12467 17.0158L9.36156 18.0226C9.39483 18.164 9.47489 18.29 9.58877 18.3802C9.70265 18.4704 9.84367 18.5195 9.98895 18.5195H12.011C12.1563 18.5195 12.2973 18.4705 12.4112 18.3803C12.5251 18.2901 12.6051 18.164 12.6384 18.0226L12.8753 17.0158C13.2385 16.9027 13.5906 16.7567 13.9273 16.5796L14.8072 17.1243C14.9307 17.2008 15.0764 17.2333 15.2207 17.2166C15.3651 17.1998 15.4995 17.1348 15.6022 17.0321L17.032 15.6022C17.1347 15.4995 17.1997 15.3651 17.2165 15.2208C17.2332 15.0765 17.2007 14.9308 17.1243 14.8072L16.5796 13.9274C16.7567 13.5907 16.9027 13.2386 17.0158 12.8754L18.0226 12.6385C18.164 12.6052 18.29 12.5251 18.3802 12.4113C18.4704 12.2974 18.5195 12.1564 18.5195 12.0111V9.98907C18.5195 9.84379 18.4705 9.70276 18.3803 9.58886C18.2901 9.47496 18.1641 9.39488 18.0226 9.3616ZM11 14.0078C9.33883 14.0078 7.99219 12.6612 7.99219 11C7.99219 9.33883 9.33883 7.99219 11 7.99219C12.6612 7.99219 14.0078 9.33883 14.0078 11C14.0078 12.6612 12.6612 14.0078 11 14.0078Z" fill="#13859F"/><path d="M3.70887 19.0447L4.13271 21.4484C4.19454 21.7989 4.52884 22.033 4.87938 21.9712C5.22992 21.9093 5.46406 21.575 5.40222 21.2245L5.25282 20.3771C6.97303 21.4313 8.96416 22 11 22C13.9382 22 16.7005 20.8558 18.7782 18.7782C20.8558 16.7005 22 13.9382 22 11C22 10.644 21.7114 10.3555 21.3554 10.3555C20.9995 10.3555 20.7109 10.644 20.7109 11C20.7109 16.3546 16.3546 20.7109 11 20.7109C9.21759 20.7109 7.47383 20.2174 5.96391 19.3015L6.85929 19.1437C7.20983 19.0819 7.44393 18.7476 7.38209 18.397C7.32026 18.0464 6.98601 17.8124 6.63543 17.8742L4.23167 18.2981C3.88113 18.3599 3.64708 18.6942 3.70887 19.0447Z" fill="#13859F"/></svg>'},
      { label: "FVU: 3M rows in 30 mins", cardIcon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.38397 0.212265C9.55986 0.0747229 9.77672 0 10 0C10.2233 0 10.4401 0.0747229 10.616 0.212265L12.2761 1.50933L14.3612 1.21632C14.5821 1.1853 14.8069 1.22898 15.0001 1.34042C15.1932 1.45185 15.3436 1.62465 15.4273 1.83135L16.2163 3.78445L18.1694 4.57349C18.3763 4.65701 18.5493 4.80731 18.661 5.00048C18.7726 5.19365 18.8164 5.4186 18.7855 5.63955L18.4914 7.72566L19.7885 9.38575C19.9256 9.56147 20 9.77793 20 10.0008C20 10.2236 19.9256 10.4401 19.7885 10.6158L18.4914 12.2759L18.7855 14.362C18.8164 14.583 18.7726 14.8079 18.661 15.0011C18.5493 15.1943 18.3763 15.3446 18.1694 15.4281L16.2163 16.2171L15.4273 18.1702C15.3438 18.3771 15.1935 18.5501 15.0003 18.6617C14.8071 18.7734 14.5822 18.8172 14.3612 18.7862L12.2751 18.4922L10.615 19.7893C10.4393 19.9263 10.2228 20.0008 10 20.0008C9.77715 20.0008 9.56069 19.9263 9.38497 19.7893L7.72488 18.4922L5.63877 18.7862C5.41782 18.8172 5.19287 18.7734 4.9997 18.6617C4.80653 18.5501 4.65623 18.3771 4.57271 18.1702L3.78367 16.2171L1.83057 15.4281C1.62387 15.3444 1.45107 15.194 1.33964 15.0009C1.2282 14.8077 1.18452 14.5828 1.21554 14.362L1.50855 12.2759L0.211484 10.6158C0.0744326 10.4401 0 10.2236 0 10.0008C0 9.77793 0.0744326 9.56147 0.211484 9.38575L1.50855 7.72566L1.21554 5.63955C1.18452 5.41872 1.2282 5.19386 1.33964 5.00071C1.45107 4.80755 1.62387 4.65718 1.83057 4.57349L3.78367 3.78445L4.57271 1.83135C4.6564 1.62465 4.80677 1.45185 4.99992 1.34042C5.19308 1.22898 5.41794 1.1853 5.63877 1.21632L7.72488 1.50933L9.38397 0.212265ZM13.7072 8.70771C13.8894 8.5191 13.9902 8.26649 13.9879 8.00427C13.9856 7.74206 13.8804 7.49124 13.695 7.30582C13.5096 7.1204 13.2588 7.01523 12.9966 7.01295C12.7343 7.01067 12.4817 7.11147 12.2931 7.29364L8.99995 10.5868L7.70688 9.29374C7.51827 9.11158 7.26565 9.01078 7.00344 9.01305C6.74123 9.01533 6.4904 9.12051 6.30499 9.30593C6.11957 9.49134 6.01439 9.74217 6.01212 10.0044C6.00984 10.2666 6.11064 10.5192 6.2928 10.7078L8.29291 12.7079C8.48045 12.8954 8.73477 13.0007 8.99995 13.0007C9.26513 13.0007 9.51945 12.8954 9.70698 12.7079L13.7072 8.70771Z" fill="#13859F"/></svg>' },
      { label: "Challan-ready output", cardIcon: '<svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.7044 2.17058C16.5842 1.99966 16.4312 1.85433 16.2543 1.74304C16.0775 1.63175 15.8803 1.55673 15.6741 1.52232L6.81227 0.0190604C6.58875 -0.015507 6.36047 -0.00295785 6.14209 0.0559023C5.92371 0.114762 5.72005 0.218633 5.54418 0.360847C5.36831 0.503061 5.22412 0.680476 5.12086 0.881704C5.0176 1.08293 4.95755 1.30353 4.94458 1.52933C5.20669 1.52793 9.98593 1.53038 10.411 1.52933C11.0613 1.53007 11.6848 1.78874 12.1446 2.24858C12.6044 2.70842 12.8631 3.33189 12.8639 3.9822V10.8082C13.84 10.84 14.7799 11.1852 15.5445 11.7929L16.9777 3.35497C17.0127 3.14928 17.0066 2.9387 16.9596 2.7354C16.9127 2.5321 16.826 2.34012 16.7044 2.17058ZM12.7027 11.5055C11.67 11.507 10.6801 11.9181 9.95026 12.6486C9.22039 13.3792 8.81016 14.3694 8.80961 15.4021C9.02406 20.5668 16.382 20.5654 16.5957 15.4021C16.5952 14.3694 16.1849 13.3792 15.4551 12.6486C14.7252 11.9181 13.7353 11.507 12.7027 11.5055ZM12.7027 15.0517C12.989 15.0546 13.2649 15.1596 13.4808 15.3477C13.6967 15.5357 13.8385 15.7946 13.8807 16.0778C13.9229 16.3611 13.8628 16.65 13.7111 16.8929C13.5594 17.1358 13.3261 17.3166 13.0531 17.4029V17.8725C13.0531 17.9654 13.0162 18.0545 12.9504 18.1202C12.8847 18.186 12.7956 18.2229 12.7027 18.2229C12.6097 18.2229 12.5206 18.186 12.4549 18.1202C12.3892 18.0545 12.3523 17.9654 12.3523 17.8725V17.4029C12.1064 17.3271 11.8911 17.1747 11.7379 16.9679C11.5848 16.7612 11.5017 16.5109 11.5008 16.2536C11.5008 16.1606 11.5377 16.0715 11.6034 16.0058C11.6691 15.9401 11.7582 15.9032 11.8512 15.9032C11.9441 15.9032 12.0332 15.9401 12.0989 16.0058C12.1647 16.0715 12.2016 16.1606 12.2016 16.2536C12.2016 16.3527 12.231 16.4496 12.286 16.532C12.3411 16.6144 12.4193 16.6786 12.5109 16.7165C12.6025 16.7544 12.7032 16.7644 12.8004 16.745C12.8976 16.7257 12.9869 16.678 13.057 16.6079C13.1271 16.5378 13.1748 16.4485 13.1941 16.3513C13.2135 16.2541 13.2035 16.1534 13.1656 16.0618C13.1277 15.9703 13.0635 15.892 12.9811 15.8369C12.8987 15.7819 12.8018 15.7525 12.7027 15.7525C12.4148 15.7522 12.1366 15.6486 11.9186 15.4606C11.7007 15.2725 11.5575 15.0125 11.515 14.7277C11.4726 14.443 11.5338 14.1525 11.6874 13.9091C11.8411 13.6656 12.077 13.4854 12.3523 13.4012V12.9282C12.3523 12.8352 12.3892 12.7461 12.4549 12.6804C12.5206 12.6147 12.6097 12.5778 12.7027 12.5778C12.7956 12.5778 12.8847 12.6147 12.9504 12.6804C13.0162 12.7461 13.0531 12.8352 13.0531 12.9282V13.4012C13.299 13.4758 13.5146 13.6274 13.6679 13.8337C13.8212 14.04 13.9041 14.2901 13.9046 14.5471C13.9046 14.64 13.8677 14.7291 13.8019 14.7949C13.7362 14.8606 13.6471 14.8975 13.5542 14.8975C13.4612 14.8975 13.3721 14.8606 13.3064 14.7949C13.2407 14.7291 13.2038 14.64 13.2038 14.5471C13.2031 14.4481 13.1731 14.3516 13.1176 14.2696C13.0621 14.1877 12.9836 14.124 12.892 14.0866C12.8004 14.0492 12.6997 14.0398 12.6028 14.0596C12.5058 14.0793 12.4169 14.1273 12.3471 14.1975C12.2774 14.2677 12.23 14.357 12.211 14.4541C12.1919 14.5512 12.202 14.6518 12.2401 14.7431C12.2781 14.8345 12.3423 14.9125 12.4246 14.9675C12.507 15.0224 12.6037 15.0517 12.7027 15.0517Z" fill="#13859F"/><path d="M9.07913 18.2198C6.8698 15.4446 8.67967 11.2081 12.1662 10.8367V3.98264C12.1661 3.51803 11.9814 3.07249 11.6529 2.74396C11.3243 2.41543 10.8788 2.23078 10.4142 2.23059H1.75205C1.28744 2.23078 0.841903 2.41543 0.513369 2.74396C0.184836 3.07249 0.000185735 3.51803 0 3.98264V17.8694C0.000185735 18.334 0.184836 18.7796 0.513369 19.1081C0.841903 19.4366 1.28744 19.6213 1.75205 19.6215H10.4142C10.5415 19.6217 10.6685 19.6076 10.7926 19.5794C10.1202 19.271 9.53235 18.8045 9.07913 18.2198ZM1.75556 4.2034C1.75556 4.11047 1.79247 4.02134 1.85819 3.95562C1.9239 3.88991 2.01303 3.85299 2.10597 3.85299C2.1989 3.85299 2.28803 3.88991 2.35374 3.95562C2.41946 4.02134 2.45638 4.11047 2.45638 4.2034V8.09997H3.01353V5.64709C3.01353 5.55416 3.05045 5.46503 3.11616 5.39931C3.18188 5.3336 3.27101 5.29668 3.36394 5.29668C3.45687 5.29668 3.546 5.3336 3.61172 5.39931C3.67743 5.46503 3.71435 5.55416 3.71435 5.64709V8.09997H4.50978V6.32689C4.50978 6.23395 4.5467 6.14483 4.61241 6.07911C4.67813 6.0134 4.76726 5.97648 4.86019 5.97648C4.95313 5.97648 5.04225 6.0134 5.10797 6.07911C5.17368 6.14483 5.2106 6.23395 5.2106 6.32689V8.09997H6.00603V7.24146C6.00603 7.14853 6.04295 7.0594 6.10867 6.99368C6.17438 6.92797 6.26351 6.89105 6.35644 6.89105C6.44938 6.89105 6.53851 6.92797 6.60422 6.99368C6.66994 7.0594 6.70685 7.14853 6.70685 7.24146V8.09997H7.53733C7.63026 8.09997 7.71939 8.13688 7.78511 8.2026C7.85082 8.26831 7.88774 8.35744 7.88774 8.45038C7.88774 8.54331 7.85082 8.63244 7.78511 8.69815C7.71939 8.76387 7.63026 8.80079 7.53733 8.80079H2.10597C2.05991 8.80092 2.01428 8.79196 1.97171 8.77439C1.92913 8.75683 1.89045 8.73103 1.85788 8.69846C1.82531 8.6659 1.79951 8.62721 1.78195 8.58464C1.76439 8.54206 1.75542 8.49643 1.75556 8.45038V4.2034ZM2.35826 17.4209H7.53733C7.63026 17.4209 7.71939 17.4578 7.78511 17.5235C7.85082 17.5892 7.88774 17.6784 7.88774 17.7713C7.88774 17.8642 7.85082 17.9534 7.78511 18.0191C7.71939 18.0848 7.63026 18.1217 7.53733 18.1217H2.35826C2.26533 18.1217 2.1762 18.0848 2.11048 18.0191C2.04477 17.9534 2.00785 17.8642 2.00785 17.7713C2.00785 17.6784 2.04477 17.5892 2.11048 17.5235C2.1762 17.4578 2.26533 17.4209 2.35826 17.4209ZM2.00785 15.3114C2.00813 15.2186 2.04514 15.1296 2.11079 15.0639C2.17645 14.9983 2.26541 14.9613 2.35826 14.961H6.86454C6.95747 14.961 7.0466 14.9979 7.11232 15.0636C7.17803 15.1293 7.21495 15.2185 7.21495 15.3114C7.21495 15.4043 7.17803 15.4935 7.11232 15.5592C7.0466 15.6249 6.95747 15.6618 6.86454 15.6618H2.35826C2.26541 15.6615 2.17645 15.6245 2.11079 15.5589C2.04514 15.4932 2.00813 15.4043 2.00785 15.3114ZM7.61792 13.2019H2.35826C2.26533 13.2019 2.1762 13.165 2.11048 13.0993C2.04477 13.0336 2.00785 12.9445 2.00785 12.8515C2.00785 12.7586 2.04477 12.6695 2.11048 12.6038C2.1762 12.538 2.26533 12.5011 2.35826 12.5011H7.61792C7.71086 12.5011 7.79999 12.538 7.8657 12.6038C7.93141 12.6695 7.96833 12.7586 7.96833 12.8515C7.96833 12.9445 7.93141 13.0336 7.8657 13.0993C7.79999 13.165 7.71086 13.2019 7.61792 13.2019ZM9.80799 10.7456H2.35826C2.26533 10.7456 2.1762 10.7086 2.11048 10.6429C2.04477 10.5772 2.00785 10.4881 2.00785 10.3952C2.00785 10.3022 2.04477 10.2131 2.11048 10.1474C2.1762 10.0817 2.26533 10.0447 2.35826 10.0447H9.80799C9.90092 10.0447 9.99005 10.0817 10.0558 10.1474C10.1215 10.2131 10.1584 10.3022 10.1584 10.3952C10.1584 10.4881 10.1215 10.5772 10.0558 10.6429C9.99005 10.7086 9.90092 10.7456 9.80799 10.7456Z" fill="#13859F"/></svg>' }
    ]
  },
  {
    id: "ai-validation",
    label: "AI Validation",
    icon: '<svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.52282 3.97054L7.10942 5.59957C7.43129 6.49263 7.9462 7.30368 8.61745 7.97493C9.28869 8.64618 10.0997 9.16109 10.9928 9.48295L12.6218 10.0696C12.654 10.0813 12.6818 10.1027 12.7014 10.1308C12.721 10.1589 12.7315 10.1924 12.7315 10.2266C12.7315 10.2609 12.721 10.2943 12.7014 10.3224C12.6818 10.3505 12.654 10.3719 12.6218 10.3837L10.9928 10.9703C10.0997 11.2921 9.28869 11.807 8.61745 12.4783C7.9462 13.1495 7.43129 13.9606 7.10942 14.8537L6.52282 16.4827C6.51103 16.5149 6.48964 16.5426 6.46155 16.5622C6.43346 16.5819 6.40003 16.5924 6.36576 16.5924C6.3315 16.5924 6.29807 16.5819 6.26998 16.5622C6.24189 16.5426 6.2205 16.5149 6.2087 16.4827L5.62211 14.8537C5.30024 13.9606 4.78533 13.1495 4.11408 12.4783C3.44283 11.807 2.63178 11.2921 1.73873 10.9703L0.109692 10.3837C0.077525 10.3719 0.0497556 10.3505 0.0301378 10.3224C0.01052 10.2943 0 10.2609 0 10.2266C0 10.1924 0.01052 10.1589 0.0301378 10.1308C0.0497556 10.1027 0.077525 10.0813 0.109692 10.0696L1.73873 9.48295C2.63178 9.16109 3.44283 8.64618 4.11408 7.97493C4.78533 7.30368 5.30024 6.49263 5.62211 5.59957L6.2087 3.97054C6.22017 3.93805 6.24144 3.90991 6.26957 3.89001C6.2977 3.87011 6.33131 3.85942 6.36576 3.85942C6.40022 3.85942 6.43383 3.87011 6.46196 3.89001C6.49009 3.90991 6.51135 3.93805 6.52282 3.97054ZM13.8557 0.0557478L14.153 0.880492C14.3161 1.33266 14.5769 1.7433 14.9168 2.0832C15.2567 2.4231 15.6673 2.68389 16.1195 2.84702L16.9443 3.14434C16.9606 3.15029 16.9747 3.16112 16.9847 3.17536C16.9947 3.18961 17 3.20657 17 3.22396C17 3.24135 16.9947 3.25832 16.9847 3.27256C16.9747 3.28681 16.9606 3.29764 16.9443 3.30359L16.1195 3.6009C15.6673 3.76403 15.2567 4.02483 14.9168 4.36472C14.5769 4.70462 14.3161 5.11527 14.153 5.56743L13.8557 6.39218C13.8497 6.40852 13.8389 6.42263 13.8246 6.4326C13.8104 6.44257 13.7934 6.44792 13.776 6.44792C13.7586 6.44792 13.7417 6.44257 13.7274 6.4326C13.7132 6.42263 13.7024 6.40852 13.6964 6.39218L13.3991 5.56743C13.236 5.11527 12.9752 4.70462 12.6353 4.36472C12.2954 4.02483 11.8847 3.76403 11.4326 3.6009L10.6078 3.30359C10.5915 3.29764 10.5774 3.28681 10.5674 3.27256C10.5574 3.25832 10.5521 3.24135 10.5521 3.22396C10.5521 3.20657 10.5574 3.18961 10.5674 3.17536C10.5774 3.16112 10.5915 3.15029 10.6078 3.14434L11.4326 2.84702C11.8847 2.68389 12.2954 2.4231 12.6353 2.0832C12.9752 1.7433 13.236 1.33266 13.3991 0.880492L13.6964 0.0557478C13.7024 0.0394086 13.7132 0.0252952 13.7274 0.0153223C13.7417 0.00534946 13.7586 0 13.776 0C13.7934 0 13.8104 0.00534946 13.8246 0.0153223C13.8389 0.0252952 13.8497 0.0394086 13.8557 0.0557478ZM13.8557 14.0618L14.153 14.8865C14.3161 15.3387 14.5769 15.7493 14.9168 16.0892C15.2567 16.4291 15.6673 16.6899 16.1195 16.8531L16.9443 17.1504C16.9606 17.1563 16.9747 17.1671 16.9847 17.1814C16.9947 17.1956 17 17.2126 17 17.23C17 17.2474 16.9947 17.2644 16.9847 17.2786C16.9747 17.2928 16.9606 17.3037 16.9443 17.3096L16.1195 17.6069C15.6673 17.7701 15.2567 18.0309 14.9168 18.3708C14.5769 18.7107 14.3161 19.1213 14.153 19.5735L13.8557 20.3982C13.8497 20.4145 13.8389 20.4287 13.8246 20.4386C13.8104 20.4486 13.7934 20.454 13.776 20.454C13.7586 20.454 13.7417 20.4486 13.7274 20.4386C13.7132 20.4287 13.7024 20.4145 13.6964 20.3982L13.3991 19.5735C13.236 19.1213 12.9752 18.7107 12.6353 18.3708C12.2954 18.0309 11.8847 17.7701 11.4326 17.6069L10.6078 17.3096C10.5915 17.3037 10.5774 17.2928 10.5674 17.2786C10.5574 17.2644 10.5521 17.2474 10.5521 17.23C10.5521 17.2126 10.5574 17.1956 10.5674 17.1814C10.5774 17.1671 10.5915 17.1563 10.6078 17.1504L11.4326 16.8531C11.8847 16.6899 12.2954 16.4291 12.6353 16.0892C12.9752 15.7493 13.236 15.3387 13.3991 14.8865L13.6964 14.0618C13.7234 13.9873 13.8294 13.9873 13.8557 14.0618Z" fill="#805B9A"/></svg>',
    image: "https://cdn.prod.website-files.com/63ede4a3da6dbd6b05c4612f/6a05562f1b2d02801f5bcf13_generate.png",
    title: "AI validates every TDS section. Audit-ready from day one.",
    description: "AI analyses vendor details and expense descriptions to validate the right TDS section for every transaction. It surfaces section variance, missed deductions, and rate mismatches before filing.",
    points: [
        { label: "AI section variance detection", cardIcon: '' },
        { label: "Clause 34 exception report", cardIcon: '' },
        { label: "Audit remark reduction", cardIcon: '' },
        { label: "GRN ↔ IRN auto-linkage", cardIcon: '' }
    ]
},
{
    id: "26as-reconcilation",
    label: "26AS Reconcilation",
    image: "https://cdn.prod.website-files.com/63ede4a3da6dbd6b05c4612f/6a055630fbb269843fda1195_encrypted.png",
    icon: '<svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.8027 10.7484C16.4327 10.1729 16.0629 9.61785 15.6929 9.04251C15.6108 8.91923 15.6108 8.83699 15.6929 8.71371C16.0629 8.15888 16.4122 7.60386 16.7822 7.04903C17.2138 6.39143 16.9877 5.75417 16.2477 5.4871C15.6313 5.26107 15.0148 5.01452 14.3982 4.78848C14.2749 4.74727 14.2132 4.66502 14.2132 4.52123C14.1927 3.84312 14.1516 3.16483 14.1104 2.50724C14.0694 1.78791 13.5146 1.37687 12.8158 1.56188C12.1582 1.72618 11.5006 1.91119 10.8633 2.09619C10.7195 2.13722 10.6375 2.09619 10.5345 1.99343C10.1235 1.45893 9.69191 0.945313 9.28106 0.43151C8.8288 -0.143837 8.12999 -0.143837 7.6574 0.43151C7.24636 0.945313 6.8148 1.45912 6.42427 1.97292C6.32151 2.11671 6.21875 2.13722 6.05445 2.09619C5.41737 1.91119 4.78029 1.74688 4.32803 1.62342C3.44441 1.4179 2.91009 1.7674 2.86887 2.50724C2.82784 3.18534 2.78681 3.86364 2.76611 4.56245C2.76611 4.70624 2.70457 4.76778 2.58129 4.82951L0.670059 5.56935C0.0122781 5.8366 -0.193243 6.47368 0.197285 7.06954C0.567298 7.64508 0.937123 8.19991 1.30714 8.77525C1.38919 8.89872 1.38919 8.98078 1.30714 9.12475C0.918459 9.69922 0.541591 10.2816 0.17677 10.8715C-0.17254 11.4265 0.0534951 12.0841 0.66987 12.3307C1.30714 12.5772 1.96473 12.8238 2.60181 13.0705C2.7456 13.1117 2.78681 13.1938 2.78681 13.3377C2.80733 13.9953 2.88957 14.6326 2.88957 15.29C2.88957 15.9478 3.46492 16.5437 4.26649 16.2971C4.90357 16.0916 5.54065 15.9478 6.17772 15.7626C6.301 15.7216 6.38325 15.7423 6.46549 15.8655C6.89705 16.3999 7.30809 16.9137 7.73965 17.448C8.21223 18.0233 8.89053 18.0233 9.3426 17.448C9.77416 16.9135 10.1852 16.3997 10.6168 15.8655C10.699 15.7628 10.7605 15.7216 10.9045 15.7628C11.5621 15.9478 12.2197 16.1121 12.8775 16.2971C13.5556 16.4821 14.1309 16.0711 14.1516 15.3723C14.1927 14.6942 14.2337 14.0159 14.2544 13.317C14.2544 13.1527 14.3365 13.0912 14.4599 13.05C15.0867 12.8192 15.7101 12.5794 16.3299 12.3307C16.9877 12.0019 17.1932 11.3445 16.8027 10.7484ZM11.8909 7.37764L7.78068 11.4881C7.67792 11.5906 7.53413 11.6729 7.39015 11.6934C7.34912 11.6934 7.28739 11.7141 7.24636 11.7141C7.06135 11.7141 6.85583 11.6318 6.71204 11.4879L5.02684 9.80267C4.88859 9.66329 4.81102 9.47493 4.81102 9.27861C4.81102 9.0823 4.88859 8.89393 5.02684 8.75455C5.16622 8.6163 5.35459 8.53873 5.5509 8.53873C5.74722 8.53873 5.93558 8.6163 6.07496 8.75455L7.22584 9.90543L10.8018 6.32951C10.9411 6.19126 11.1295 6.11369 11.3258 6.11369C11.5221 6.11369 11.7105 6.19126 11.8499 6.32951C12.1787 6.61728 12.1787 7.08968 11.8909 7.37764Z" fill="#655DFF"/></svg>',
    title: "Match 40,000+ 26AS records in under 2 hours. Not 2 days.",
    description: "ClearTax automates Many:Many matching, Best-Fit logic, Cross-FY matching, and PAN-to-TAN mapping. It helps teams move from annual reconciliation to faster monthly reconciliation.",
    points: [
      { label: "Many & Best-Fit matching", cardIcon: '' },
      { label: "Auto PAN ↔ TAN mapping", cardIcon: '' },
      { label: "Match rate: 50% → 80%+", cardIcon: '' },
      { label: "Working capital visibility", cardIcon: '' }
    ]
  },
];
---

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<div class="infra-section relative bg-gray-50 py-12 lg:py-25 overflow-hidden [&_button]:font-[inherit]">
  <div class="mx-auto max-w-[var(--container-max)] w-full px-4 md:px-6">
    <div class="text-center mb-16">
      <h2 class="text-[26px] lg:text-[44px] max-w-172 text-center font-semibold text-black leading-[1.1] mb-4 blur-reveal">
        Infrastructure That Powers <span class="text-[#655DFF]"><br />Every TDS Workflow</span>
      </h2>
      <p class="text-base lg:text-lg text-[#000000]/80 max-w-[750px] mx-auto premium-reveal [transition-delay:100ms]">
        From GL ingestion to filing, AI validation, and reconciliation, ClearTax handles every step with speed, accuracy, and audit-ready control.
      </p>
    </div>

    <!-- Tab Bar Desktop Only -->
    <div class="!hidden lg:!flex justify-center mb-7 overflow-x-auto pb-2 [scrollbar-width:_none] [-ms-overflow-style:_none] [&::-webkit-scrollbar]:hidden">
      <div class="inline-flex border w-full justify-evenly border-[#000000]/12 rounded-full p-2">
        {tabs.map((tab, index) => (
          <button
            class={`flex items-center w-full justify-center gap-2 px-6 py-3 rounded-full text-sm font-medium transition-all duration-300 infra-tab-btn cursor-pointer border-none bg-transparent outline-none ${index === 0 ? 'active-tab text-black shadow-[0_4px_12px_rgba(0,0,0,0.05)]' : 'text-black/40'}`}
            data-index={index}
            data-tab={tab.id}
          >
            <span class="icon-wrapper opacity-60 transition-all duration-300" set:html={tab.icon}></span>
            {tab.label}
          </button>
        ))}
      </div>
    </div>


    <div class="!hidden lg:!block infra-swiper swiper relative bg-white border border-[#000000]/12 rounded-[12px] overflow-hidden w-full h-auto">
      <div class="swiper-wrapper">
        {tabs.map((tab) => (
          <div class="swiper-slide !h-auto p-6 lg:p-10 min-h-[440px] flex items-center">
            <div 
              class="infra-tab-content grid grid-cols-1 sm:grid-cols-2 gap-12 lg:gap-20 items-center w-full"
              id={`content-${tab.id}`}
            >
              <!-- Left: Text -->
              <div>
                <h3 class="text-[24px] md:text-[32px] font-semibold text-black leading-[1.2] mb-6">
                  {tab.title}
                </h3>
                <p class="text-base lg:text-lg text-black/80 leading-relaxed mb-10">
                  {tab.description}
                </p>
                
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-6 gap-x-8">
                  {tab.points.map((point) => (
                    <div class="flex items-center gap-2 group">
                      <div class="w-10 h-10 rounded-lg flex items-center justify-center text-[#000000] transition-transform">
                       <span set:html={point.cardIcon}></span>
                      </div>
                      <span class="text-base font-medium text-black">{point.label}</span>
                    </div>
                  ))}
                </div>
              </div>

              <!-- Right: Visual Area -->
              <div class="relative group">
                <div class="aspect-[4/3] rounded-[12px] flex items-center justify-center overflow-hidden">
                   {tab.image ? (
                      <img 
                        src={tab.image} 
                        alt={tab.label}
                        class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-105"
                        onerror="this.style.display='none'; this.nextElementSibling.style.display='flex';"
                      />
                   ) : null}
                </div>
              </div>
            </div>
          </div>
        ))}
      </div>
    </div>

    <!-- Mobile Accordion -->
    <div class="!flex lg:!hidden flex-col gap-4">
      {tabs.map((tab, index) => (
        <div 
          class={`infra-acc-item border border-[#000000]/12 rounded-[12px] bg-white transition-all duration-500 overflow-hidden ${index === 0 ? 'acc-active shadow-sm' : ''}`}
          style={index === 0 ? `background-color: ${['rgba(229, 171, 130, 0.1)', 'rgba(51, 136, 120, 0.1)', 'rgba(19, 133, 159, 0.1)', 'rgba(152, 120, 175, 0.1)', 'rgba(101, 93, 255, 0.1)'][index]}` : ''}
        >
          <button 
            class="infra-acc-trigger w-full flex items-center justify-between p-5 text-left border-none bg-transparent outline-none cursor-pointer"
            data-index={index}
          >
            <div class="flex items-center gap-3 pointer-events-none">
              <span class={`icon-wrapper transition-all duration-300 ${index === 0 ? 'opacity-100' : 'opacity-40 grayscale'}`} set:html={tab.icon}></span>
              <span class={`text-base font-semibold transition-colors duration-300 ${index === 0 ? 'text-black' : 'text-black/60'}`}>{tab.label}</span>
            </div>
            <svg class={`acc-chevron w-5 h-5 transition-transform duration-500 pointer-events-none ${index === 0 ? 'rotate-180' : ''}`} viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </button>
          
          <div 
            class="infra-acc-content transition-all duration-500 ease-in-out overflow-hidden"
            style={index === 0 ? 'max-height: 2000px; opacity: 1;' : 'max-height: 0px; opacity: 0;'}
          >
            <div class="px-5 pb-6">
              <h3 class="text-[20px] font-semibold text-black leading-[1.2] mb-4">{tab.title}</h3>
              <p class="text-sm text-black/70 leading-relaxed mb-6">{tab.description}</p>
              
              <div class="grid grid-cols-1 gap-4 mb-8">
                {tab.points.map((point) => (
                  <div class="flex items-center gap-3">
                    <div class="w-8 h-8 rounded-lg flex items-center justify-center text-[#D97D54] bg-black/5">
                      <span class="scale-90" set:html={point.cardIcon}></span>
                    </div>
                    <span class="text-sm font-medium text-black/80">{point.label}</span>
                  </div>
                ))}
              </div>

              <div class="aspect-[4/3] rounded-2xl bg-[#FAF1ED] border border-[#F5E6DE] flex items-center justify-center overflow-hidden">
                {tab.image && <img src={tab.image} alt={tab.label} class="w-full h-full object-cover" />}
              </div>
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</div>

<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script is:inline>
  (function() {
    function initInfrastructure() {
      const section = document.querySelector('.infra-section');
      if (!section) return;

      const colors = [
        'rgba(229, 171, 130, 0.1)', 
        'rgba(51, 136, 120, 0.1)', 
        'rgba(19, 133, 159, 0.1)', 
        'rgba(152, 120, 175, 0.1)', 
        'rgba(101, 93, 255, 0.1)'
      ];

      // --- Desktop Swiper Logic ---
      const initSwiper = () => {
        const swiperEl = section.querySelector('.infra-swiper');
        if (!swiperEl || typeof Swiper === 'undefined') {
          if (typeof Swiper === 'undefined') setTimeout(initSwiper, 50);
          return;
        }

        const btns = section.querySelectorAll('.infra-tab-btn');
        const swiper = new Swiper('.infra-swiper', {
          effect: 'fade',
          fadeEffect: { crossFade: true },
          speed: 500,
          allowTouchMove: true,
          autoHeight: true,
          on: {
            slideChange: function () {
              updateTabs(this.activeIndex);
            }
          }
        });

        function updateTabs(index) {
          btns.forEach((btn, i) => {
            const iconWrapper = btn.querySelector('.icon-wrapper');
            if (i === index) {
              btn.classList.add('active-tab', 'shadow-[0_4px_12px_rgba(0,0,0,0.05)]');
              btn.classList.remove('text-black/40');
              btn.style.backgroundColor = colors[i].replace('0.1', '0.2');
              if (iconWrapper) {
                iconWrapper.style.filter = 'grayscale(0)';
                iconWrapper.style.opacity = '1';
              }
            } else {
              btn.classList.remove('active-tab', 'shadow-[0_4px_12px_rgba(0,0,0,0.05)]');
              btn.classList.add('text-black/40');
              btn.style.backgroundColor = 'transparent';
              if (iconWrapper) {
                iconWrapper.style.filter = 'grayscale(1)';
                iconWrapper.style.opacity = '0.4';
              }
            }
          });
        }

        btns.forEach((btn, index) => {
          btn.addEventListener('click', () => swiper.slideTo(index));
        });

        updateTabs(0);
      };

      // --- Mobile Accordion Logic ---
      const initAccordion = () => {
        const items = section.querySelectorAll('.infra-acc-item');
        if (!items.length) return;
        
        items.forEach((item, index) => {
          const trigger = item.querySelector('.infra-acc-trigger');
          const content = item.querySelector('.infra-acc-content');
          const icon = item.querySelector('.icon-wrapper');
          const label = item.querySelector('.text-base');
          const chevron = item.querySelector('.acc-chevron');

          trigger.addEventListener('click', () => {
            const isActive = item.classList.contains('acc-active');

            if (isActive) return;

            items.forEach((otherItem) => {
              otherItem.classList.remove('acc-active', 'shadow-sm');
              otherItem.style.backgroundColor = 'white';
              const otherContent = otherItem.querySelector('.infra-acc-content');
              otherContent.style.maxHeight = '0px';
              otherContent.style.opacity = '0';
              
              const otherIcon = otherItem.querySelector('.icon-wrapper');
              if (otherIcon) otherIcon.classList.add('opacity-40', 'grayscale');
              const otherLabel = otherItem.querySelector('.text-base');
              if (otherLabel) otherLabel.classList.add('text-black/60');
              const otherChevron = otherItem.querySelector('.acc-chevron');
              if (otherChevron) otherChevron.classList.remove('rotate-180');
            });

            item.classList.add('acc-active', 'shadow-sm');
            item.style.backgroundColor = colors[index];
            content.style.maxHeight = '2000px';
            content.style.opacity = '1';
            if (icon) icon.classList.remove('opacity-40', 'grayscale');
            if (label) label.classList.remove('text-black/60');
            if (chevron) chevron.classList.add('rotate-180');
          });
        });
      };

      initSwiper();
      initAccordion();
    }

    if (document.readyState === 'loading') {
      document.addEventListener('DOMContentLoaded', initInfrastructure);
    } else {
      initInfrastructure();
    }
  })();
</script>

<style is:global>
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .active-tab {
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }
  .infra-tab-btn:not(.active-tab) .icon-wrapper {
    filter: grayscale(1);
    opacity: 0.4;
  }
  .infra-tab-btn.active-tab .icon-wrapper {
    filter: grayscale(0);
    opacity: 1;
  }
</style>
