---
/**
 * Seamless integrations / compliance / support accordion.
 * Ported from global-e-invoicing-mandate-page/index.html:3076-3467.
 * Accordion selects one of three panels (compliance / integrations / support).
 */

const complianceCardsRow1 = [
  {
    name: "Peppol",
    desc: "Pan-European e-invoicing & procurement network",
    flags: [
      "https://cdn.prod.website-files.com/6093bce33d9b4bae841b04e3/69eb07bef557c1cc2f582a53_peppol.png",
    ],
  },
  {
    name: "FTA",
    desc: "UAE Federal Tax Authority compliance",
    flags: [
      "https://cdn.prod.website-files.com/6093bce33d9b4bae841b04e3/69eb07be955837eded28eba4_fta.png",
    ],
  },
  {
    name: "ZATCA",
    desc: "Saudi e-invoicing mandate (Fatoorah)",
    flags: [
      "https://cdn.prod.website-files.com/6093bce33d9b4bae841b04e3/69eb07bee548ff1688c1c0d1_zatca.png",
    ],
  },
];

const complianceCardsRow2 = [
  {
    name: "DGFiP",
    desc: "French tax administration",
    flag: "https://cdn.prod.website-files.com/6093bce33d9b4bae841b04e3/69eb07bd0cea853c7a3a159b_dgfip.png",
  },
  {
    name: "FPS Finance",
    desc: "Belgian fiscal services",
    flag: "https://cdn.prod.website-files.com/6093bce33d9b4bae841b04e3/69eb07bed8043fb1a64b6859_fps-finance.png",
  },
  {
    name: "NIC",
    desc: "National Informatics Centre",
    flag: "https://cdn.prod.website-files.com/6093bce33d9b4bae841b04e3/69eb07be66482af8235e233a_nic.png",
  },
  {
    name: "LHDN",
    desc: "Malaysian tax authority",
    flag: "https://cdn.prod.website-files.com/6093bce33d9b4bae841b04e3/69eb15cf0f335dfcecdfc9b5_lhdn.png",
  },
];

const securityCards = [
  {
    icon: '<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.9996 3.42822L4.57104 7.99965V14.8568C4.57104 21.1997 9.45104 27.1311 15.9996 28.5711C22.5482 27.1311 27.4282 21.1997 27.4282 14.8568V7.99965L15.9996 3.42822Z" fill="#655DFF" fill-opacity="0.08" stroke="#655DFF" stroke-width="1.4"/><path d="M11.429 15.9996L14.8575 19.4282L20.5718 13.7139" stroke="#655DFF" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/></svg>',
    title: "SOC 2 Type II",
    bg: "#EDEBFA",
    desc: "Annual audit compliance for data security",
  },
  {
    icon: '<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.8684 4.49854H4.49992C3.1628 4.49854 2.07886 5.58248 2.07886 6.9196V21.446C2.07886 22.7831 3.1628 23.8671 4.49992 23.8671H23.8684C25.2056 23.8671 26.2895 22.7831 26.2895 21.446V6.9196C26.2895 5.58248 25.2056 4.49854 23.8684 4.49854Z" fill="#E5AC82" fill-opacity="0.08" stroke="#E5AC82" stroke-width="1.4"/><path d="M2.07861 10.5513H26.2893M6.92074 15.9987H11.7629M6.92074 19.6303H16.605" stroke="#E5AC82" stroke-width="1.4" stroke-linecap="round"/><path d="M23.8681 27.4984C27.2109 27.4984 29.9208 24.7885 29.9208 21.4457C29.9208 18.1029 27.2109 15.3931 23.8681 15.3931C20.5253 15.3931 17.8154 18.1029 17.8154 21.4457C17.8154 24.7885 20.5253 27.4984 23.8681 27.4984Z" fill="#FDF2ED" stroke="#E5AC82" stroke-width="1.4"/><path d="M21.4475 21.4462L23.2633 23.262L26.8949 19.6304" stroke="#E5AC82" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/></svg>',
    title: "ISO 27001 / 22301",
    bg: "#FDF2ED",
    desc: "Information security & business continuity",
  },
  {
    icon: '<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 28.499C22.9036 28.499 28.5 22.9026 28.5 15.999C28.5 9.09546 22.9036 3.49902 16 3.49902C9.09644 3.49902 3.5 9.09546 3.5 15.999C3.5 22.9026 9.09644 28.499 16 28.499Z" fill="#13839D" fill-opacity="0.08" stroke="#13839D" stroke-width="1.4"/><path d="M16 23.4985C20.1421 23.4985 23.5 20.1407 23.5 15.9985C23.5 11.8564 20.1421 8.49854 16 8.49854C11.8579 8.49854 8.5 11.8564 8.5 15.9985C8.5 20.1407 11.8579 23.4985 16 23.4985Z" stroke="#13839D" stroke-width="1.4"/><path d="M16 18.498C17.3807 18.498 18.5 17.3788 18.5 15.998C18.5 14.6173 17.3807 13.498 16 13.498C14.6193 13.498 13.5 14.6173 13.5 15.998C13.5 17.3788 14.6193 18.498 16 18.498Z" fill="#13839D"/><path d="M16 3.49902V8.49902" stroke="#13839D" stroke-width="1.4"/><path d="M16 23.4985V28.4985" stroke="#13839D" stroke-width="1.4"/><path d="M3.5 15.999H8.5" stroke="#13839D" stroke-width="1.4"/><path d="M23.5 15.999H28.5" stroke="#13839D" stroke-width="1.4"/></svg>',
    title: "VAPT",
    bg: "#D8EFF2",
    desc: "Vulnerability assessment & penetration testing",
  },
  {
    icon: '<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.0075 13.0806H8.84956C7.45431 13.0806 6.32324 14.2116 6.32324 15.6069V25.7121C6.32324 27.1074 7.45431 28.2385 8.84956 28.2385H24.0075C25.4027 28.2385 26.5338 27.1074 26.5338 25.7121V15.6069C26.5338 14.2116 25.4027 13.0806 24.0075 13.0806Z" fill="#338878" fill-opacity="0.08" stroke="#338878" stroke-width="1.4"/><path d="M11.376 13.0809V9.2914C11.376 7.95136 11.9083 6.6662 12.8559 5.71865C13.8034 4.7711 15.0886 4.23877 16.4286 4.23877C17.7686 4.23877 19.0538 4.7711 20.0014 5.71865C20.9489 6.6662 21.4812 7.95136 21.4812 9.2914V13.0809" stroke="#338878" stroke-width="1.4"/><path d="M16.4284 23.1864C17.8237 23.1864 18.9547 22.0554 18.9547 20.6601C18.9547 19.2649 17.8237 18.1338 16.4284 18.1338C15.0332 18.1338 13.9021 19.2649 13.9021 20.6601C13.9021 22.0554 15.0332 23.1864 16.4284 23.1864Z" fill="#338878"/></svg>',
    title: "SSL Transit",
    bg: "#ECF7ED",
    desc: "Encrypted data in transit with TLS 1.3",
  },
  {
    icon: '<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.7143 7.66699H4.85714C3.27919 7.66699 2 8.94618 2 10.5241V21.9527C2 23.5307 3.27919 24.8098 4.85714 24.8098H27.7143C29.2922 24.8098 30.5714 23.5307 30.5714 21.9527V10.5241C30.5714 8.94618 29.2922 7.66699 27.7143 7.66699Z" fill="#13839D" fill-opacity="0.08" stroke="#13839D" stroke-width="1.4"/><path d="M6.1903 20.667V19.4008L9.14891 16.6613C9.40053 16.4178 9.61157 16.1986 9.78202 16.0038C9.95518 15.809 10.0864 15.6183 10.1757 15.4316C10.265 15.2422 10.3096 15.0379 10.3096 14.8188C10.3096 14.5753 10.2542 14.3656 10.1432 14.1897C10.0323 14.0111 9.88078 13.8745 9.68868 13.7798C9.49658 13.6824 9.27878 13.6337 9.03527 13.6337C8.78094 13.6337 8.55908 13.6851 8.36969 13.7879C8.18029 13.8907 8.03419 14.0382 7.93137 14.2303C7.82856 14.4224 7.77715 14.651 7.77715 14.9162H6.10913C6.10913 14.3723 6.23224 13.9002 6.47845 13.4998C6.72466 13.0994 7.06963 12.7896 7.51335 12.5704C7.95708 12.3512 8.46844 12.2417 9.04745 12.2417C9.64268 12.2417 10.1608 12.3472 10.6018 12.5582C11.0456 12.7666 11.3905 13.0561 11.6367 13.4267C11.8829 13.7974 12.0061 14.2222 12.0061 14.7011C12.0061 15.0149 11.9438 15.3247 11.8194 15.6305C11.6976 15.9362 11.4798 16.2758 11.166 16.6491C10.8521 17.0198 10.4097 17.4649 9.83884 17.9844L8.62537 19.1735V19.2303H12.1156V20.667H6.1903ZM16.4247 20.7806C15.8511 20.7806 15.3397 20.6751 14.8906 20.4641C14.4442 20.253 14.0897 19.9622 13.8273 19.5915C13.5648 19.2208 13.4282 18.7961 13.4174 18.3172H15.1219C15.1409 18.6391 15.2761 18.9002 15.5278 19.1004C15.7794 19.3007 16.0784 19.4008 16.4247 19.4008C16.7007 19.4008 16.9442 19.3399 17.1552 19.2181C17.3689 19.0937 17.5353 18.9219 17.6544 18.7027C17.7761 18.4808 17.837 18.2265 17.837 17.9397C17.837 17.6475 17.7748 17.3905 17.6503 17.1686C17.5286 16.9468 17.3595 16.7736 17.143 16.6491C16.9266 16.5247 16.679 16.4611 16.4003 16.4584C16.1568 16.4584 15.9201 16.5084 15.6901 16.6086C15.4628 16.7087 15.2856 16.8453 15.1584 17.0185L13.5959 16.7384L13.9896 12.3553H19.0708V13.792H15.4385L15.2234 15.874H15.2721C15.4182 15.6683 15.6387 15.4979 15.9336 15.3626C16.2285 15.2273 16.5586 15.1597 16.9239 15.1597C17.4244 15.1597 17.8708 15.2774 18.2632 15.5128C18.6555 15.7482 18.9653 16.0715 19.1925 16.4827C19.4198 16.8913 19.5321 17.3621 19.5294 17.8951C19.5321 18.4551 19.4022 18.953 19.1398 19.3886C18.88 19.8215 18.5161 20.1624 18.0481 20.4113C17.5827 20.6575 17.0416 20.7806 16.4247 20.7806ZM23.945 20.7806C23.5175 20.7779 23.1049 20.7062 22.7071 20.5655C22.3121 20.4248 21.9577 20.1962 21.6438 19.8797C21.33 19.5631 21.0811 19.1437 20.8971 18.6215C20.7158 18.0994 20.6252 17.4581 20.6252 16.6978C20.6279 15.9998 20.7077 15.3761 20.8646 14.8269C21.0242 14.2749 21.2515 13.8069 21.5464 13.4227C21.8441 13.0385 22.1998 12.7463 22.6138 12.546C23.0278 12.3431 23.4918 12.2417 24.0058 12.2417C24.5605 12.2417 25.0502 12.3499 25.475 12.5663C25.8998 12.7801 26.2407 13.0709 26.4977 13.4389C26.7575 13.8069 26.9144 14.2195 26.9685 14.6767H25.2356C25.1679 14.3872 25.0259 14.16 24.8094 13.9949C24.593 13.8299 24.3251 13.7473 24.0058 13.7473C23.4647 13.7473 23.0535 13.9827 22.7721 14.4535C22.4934 14.9243 22.3514 15.5642 22.3459 16.3732H22.4028C22.5272 16.1269 22.695 15.9173 22.906 15.7441C23.1198 15.5682 23.3619 15.4343 23.6325 15.3423C23.9057 15.2476 24.1939 15.2003 24.4969 15.2003C24.9893 15.2003 25.4277 15.3166 25.8119 15.5493C26.1961 15.7793 26.4991 16.0958 26.7209 16.499C26.9428 16.9021 27.0537 17.3634 27.0537 17.8829C27.0537 18.4457 26.9225 18.9462 26.6601 19.3845C26.4003 19.8228 26.0364 20.1665 25.5683 20.4154C25.103 20.6616 24.5619 20.7833 23.945 20.7806ZM23.9369 19.4008C24.2074 19.4008 24.4496 19.3358 24.6633 19.206C24.8771 19.0761 25.0448 18.9002 25.1666 18.6784C25.2883 18.4565 25.3492 18.2076 25.3492 17.9316C25.3492 17.6556 25.2883 17.4081 25.1666 17.1889C25.0475 16.9698 24.8825 16.7952 24.6714 16.6654C24.4604 16.5355 24.2196 16.4706 23.949 16.4706C23.7461 16.4706 23.5581 16.5084 23.3849 16.5842C23.2145 16.66 23.0643 16.7655 22.9344 16.9008C22.8073 17.036 22.7071 17.193 22.6341 17.3715C22.561 17.5474 22.5245 17.7354 22.5245 17.9357C22.5245 18.2035 22.5854 18.4484 22.7071 18.6702C22.8316 18.8921 22.9994 19.0693 23.2104 19.2019C23.4241 19.3345 23.6663 19.4008 23.9369 19.4008Z" fill="#13839D"/></svg>',
    title: "AES 256-bit",
    bg: "#D8EFF2",
    desc: "Military-grade encryption at rest",
  },
  {
    icon: '<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.9515 15.0431C15.5928 15.0431 17.7341 12.9019 17.7341 10.2606C17.7341 7.61925 15.5928 5.47803 12.9515 5.47803C10.3102 5.47803 8.16895 7.61925 8.16895 10.2606C8.16895 12.9019 10.3102 15.0431 12.9515 15.0431Z" fill="#9F72F2" fill-opacity="0.08" stroke="#9F72F2" stroke-width="1.4"/><path d="M3.38623 26.9997C3.38623 21.7389 7.69053 17.4346 12.9513 17.4346C18.2122 17.4346 22.5165 21.7389 22.5165 26.9997" stroke="#9F72F2" stroke-width="1.4"/><path d="M23.7714 14.6835C26.4454 14.6835 28.6132 12.5158 28.6132 9.84174C28.6132 7.16772 26.4454 5 23.7714 5C21.0974 5 18.9297 7.16772 18.9297 9.84174C18.9297 12.5158 21.0974 14.6835 23.7714 14.6835Z" fill="#EAF4FF" stroke="#9F72F2" stroke-width="1.4"/><path d="M22.9946 10.2611H25.3859M24.1903 9.06543V11.4567" stroke="#9F72F2" stroke-width="1.4" stroke-linecap="round"/></svg>',
    title: "RBAC",
    bg: "#EAF4FF",
    desc: "Role-based access control",
  },
  {
    icon: '<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.4285 19.0386C21.0677 19.0386 24.8286 15.2777 24.8286 10.6384C24.8286 5.99916 21.0677 2.23828 16.4285 2.23828C11.7892 2.23828 8.02832 5.99916 8.02832 10.6384C8.02832 15.2777 11.7892 19.0386 16.4285 19.0386Z" fill="#E5AC82" fill-opacity="0.08" stroke="#E5AC82" stroke-width="1.4"/><path d="M16.4282 2.23828V5.03833M16.4282 19.0386V21.8386" stroke="#E5AC82" stroke-width="1.4" stroke-linecap="round"/><path d="M23.4286 24.6382H9.42835C8.65513 24.6382 8.02832 25.265 8.02832 26.0382V28.8383C8.02832 29.6115 8.65513 30.2383 9.42835 30.2383H23.4286C24.2018 30.2383 24.8286 29.6115 24.8286 28.8383V26.0382C24.8286 25.265 24.2018 24.6382 23.4286 24.6382Z" fill="#E5AC82" fill-opacity="0.08" stroke="#E5AC82" stroke-width="1.4"/><path d="M12.2289 28.5589C12.8475 28.5589 13.3489 28.0574 13.3489 27.4389C13.3489 26.8203 12.8475 26.3188 12.2289 26.3188C11.6103 26.3188 11.1089 26.8203 11.1089 27.4389C11.1089 28.0574 11.6103 28.5589 12.2289 28.5589Z" fill="#E5AC82"/><path d="M16.4284 28.5589C17.0469 28.5589 17.5484 28.0574 17.5484 27.4389C17.5484 26.8203 17.0469 26.3188 16.4284 26.3188C15.8098 26.3188 15.3083 26.8203 15.3083 27.4389C15.3083 28.0574 15.8098 28.5589 16.4284 28.5589Z" fill="#E5AC82"/><path d="M20.6278 28.5589C21.2464 28.5589 21.7478 28.0574 21.7478 27.4389C21.7478 26.8203 21.2464 26.3188 20.6278 26.3188C20.0093 26.3188 19.5078 26.8203 19.5078 27.4389C19.5078 28.0574 20.0093 28.5589 20.6278 28.5589Z" fill="#E5AC82"/></svg>',
    title: "Auth Tokens",
    bg: "#FDF2ED",
    desc: "Secure token-based authentication",
  },
  {
    icon: '<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.8992 5.54395C10.04 5.54395 5.27271 10.2545 5.27271 16.0439C5.27271 18.0626 5.84521 20.0011 6.93044 21.6719L5.32052 25.6436C5.27225 25.763 5.26049 25.8938 5.2867 26.0198C5.31291 26.1458 5.37593 26.2614 5.46797 26.3523C5.59242 26.475 5.76105 26.5439 5.93686 26.5439C6.02055 26.5439 6.1029 26.5282 6.18393 26.4967L10.2034 24.9059C11.8943 25.9783 13.8563 26.5439 15.8992 26.5439C21.7584 26.5439 26.5257 21.8334 26.5257 16.0439C26.5257 10.2545 21.7584 5.54395 15.8992 5.54395ZM15.8992 25.2314C14.005 25.2314 12.1919 24.6776 10.6577 23.6289C10.5461 23.5514 10.4133 23.5121 10.2804 23.5121C10.1968 23.5121 10.1131 23.5278 10.0334 23.5593L7.12969 24.7091L8.29329 21.8399C8.37564 21.6352 8.34908 21.4029 8.22289 21.2231C7.16157 19.7071 6.60102 17.9156 6.60102 16.0439C6.60102 10.9777 10.7719 6.85645 15.8992 6.85645C21.0265 6.85645 25.1974 10.9777 25.1974 16.0439C25.1974 21.1102 21.0265 25.2314 15.8992 25.2314Z" fill="#655DFF"/><path d="M15.8992 25.2314C14.005 25.2314 12.1919 24.6776 10.6577 23.6289C10.5461 23.5514 10.4133 23.5121 10.2804 23.5121C10.1968 23.5121 10.1131 23.5278 10.0334 23.5593L7.12969 24.7091L8.29329 21.8399C8.37564 21.6352 8.34908 21.4029 8.22289 21.2231C7.16157 19.7071 6.60102 17.9156 6.60102 16.0439C6.60102 10.9777 10.7719 6.85645 15.8992 6.85645C21.0265 6.85645 25.1974 10.9777 25.1974 16.0439C25.1974 21.1102 21.0265 25.2314 15.8992 25.2314Z" fill="#EDEBFA"/><path d="M9.10636 19.0674H8.00507L9.68312 14.2065H11.0075L12.6832 19.0674H11.5819L10.3643 15.3173H10.3263L9.10636 19.0674ZM9.03753 17.1567H11.6389V17.959H9.03753V17.1567ZM13.8729 19.0674L12.482 14.2065H13.6047L14.4093 17.584H14.4496L15.3373 14.2065H16.2986L17.1839 17.5911H17.2266L18.0312 14.2065H19.1538L17.763 19.0674H16.7614L15.8357 15.8893H15.7978L14.8745 19.0674H13.8729ZM22.2951 15.6045C22.2761 15.413 22.1947 15.2643 22.0507 15.1583C21.9067 15.0523 21.7113 14.9993 21.4644 14.9993C21.2967 14.9993 21.1551 15.023 21.0396 15.0705C20.9241 15.1163 20.8355 15.1804 20.7737 15.2627C20.7136 15.345 20.6835 15.4384 20.6835 15.5428C20.6804 15.6298 20.6986 15.7058 20.7381 15.7706C20.7793 15.8355 20.8355 15.8917 20.9067 15.9392C20.9779 15.985 21.0601 16.0254 21.1535 16.0602C21.2469 16.0934 21.3465 16.1219 21.4526 16.1456L21.8893 16.2501C22.1013 16.2975 22.2959 16.3608 22.4731 16.44C22.6504 16.5191 22.8038 16.6164 22.9336 16.7319C23.0633 16.8474 23.1638 16.9835 23.235 17.1401C23.3078 17.2968 23.345 17.4764 23.3466 17.6789C23.345 17.9764 23.269 18.2343 23.1187 18.4527C22.97 18.6694 22.7548 18.8379 22.4731 18.9582C22.1931 19.0769 21.8553 19.1362 21.4597 19.1362C21.0673 19.1362 20.7255 19.0761 20.4343 18.9558C20.1448 18.8356 19.9185 18.6576 19.7555 18.4218C19.5941 18.1845 19.5095 17.8909 19.5016 17.5412H20.496C20.5071 17.7042 20.5538 17.8403 20.6361 17.9495C20.7199 18.0571 20.8315 18.1386 20.9707 18.1939C21.1116 18.2477 21.2706 18.2746 21.4478 18.2746C21.6219 18.2746 21.773 18.2493 21.9011 18.1987C22.0309 18.1481 22.1314 18.0776 22.2026 17.9875C22.2738 17.8973 22.3094 17.7936 22.3094 17.6765C22.3094 17.5674 22.2769 17.4756 22.2121 17.4012C22.1488 17.3268 22.0554 17.2635 21.932 17.2113C21.8102 17.1591 21.6606 17.1116 21.4834 17.0689L20.9541 16.936C20.5443 16.8363 20.2207 16.6805 19.9834 16.4684C19.746 16.2564 19.6281 15.9708 19.6297 15.6116C19.6281 15.3173 19.7065 15.0602 19.8647 14.8402C20.0245 14.6203 20.2437 14.4486 20.5222 14.3252C20.8006 14.2018 21.1171 14.1401 21.4715 14.1401C21.8323 14.1401 22.1472 14.2018 22.4162 14.3252C22.6868 14.4486 22.8972 14.6203 23.0475 14.8402C23.1978 15.0602 23.2754 15.3149 23.2801 15.6045H22.2951Z" fill="#655DFF"/></svg>',
    title: "Multi Cloud Hosting",
    bg: "#F5F5F5",
    desc: "OCI local residency with AWS backup",
  },
  {
    icon: '<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.4282 28.7373C23.3318 28.7373 28.9282 23.1409 28.9282 16.2373C28.9282 9.33375 23.3318 3.7373 16.4282 3.7373C9.52466 3.7373 3.92822 9.33375 3.92822 16.2373C3.92822 23.1409 9.52466 28.7373 16.4282 28.7373Z" fill="#338878" fill-opacity="0.08" stroke="#338878" stroke-width="1.4"/><path d="M16.4282 17.4873C18.4993 17.4873 20.1782 15.8084 20.1782 13.7373C20.1782 11.6662 18.4993 9.9873 16.4282 9.9873C14.3572 9.9873 12.6782 11.6662 12.6782 13.7373C12.6782 15.8084 14.3572 17.4873 16.4282 17.4873Z" stroke="#338878" stroke-width="1.4"/><path d="M10.1787 23.7368C10.1787 20.2368 12.9287 17.4868 16.4287 17.4868C19.9287 17.4868 22.6787 20.2368 22.6787 23.7368" stroke="#338878" stroke-width="1.4"/></svg>',
    title: "Privacy",
    bg: "#ECF7ED",
    desc: "Regulatory-compliant data privacy",
  },
];
---

<section
  class="bg-[var(--color-gray-50)] py-[100px] lg:py-[72px] sm:py-[72px] sm:pb-[80px]"
>
  <div class="max-w-[var(--container-max)] mx-auto px-6 w-full">
    <div class="text-center">
      <h2
        class="text-[28px] sm:text-[36px] lg:text-[44px] font-semibold text-black leading-[1.15] mb-12 tracking-[-0.02em] text-balance max-w-[732px] w-full mx-auto"
      >
        Seamless integrations, compliance &amp; dependable support
      </h2>
    </div>
    <div
      class="tw-grid sm:grid-cols-[340px_1fr] gap-6 items-start lg:grid-cols-0 lg:gap-8"
    >
      <div class="flex flex-col" data-ssr-root>
        <div
          class="group relative border-b border-black/10 first:border-t before:content-[''] before:absolute before:left-0 before:top-0 before:bottom-0 before:w-[3px] before:bg-[var(--color-purple)] before:rounded-r-[3px] before:scale-y-0 before:transition-transform before:duration-300 before:ease flex flex-col [&.active]:before:scale-y-100 active"
          data-ssr="compliance"
        >
          <div
            class="flex items-center justify-between p-[20px_16px_20px_20px] cursor-pointer transition-colors duration-200 hover:bg-black/4"
          >
            <span
              class="text-[18px] font-bold text-black/45 transition-[color,font-size] duration-300 group-[.active]:text-black group-[.active]:text-[20px] group-[.active]:font-bold"
              >Compliance</span
            >
            <svg
              viewBox="0 0 22 22"
              fill="none"
              height="22"
              width="22"
              class="text-[#a5a5a5] transition-[transform,color] duration-300 shrink-0 group-[.active]:rotate-180"
              ><path
                d="M7 9l4 4 4-4"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path></svg
            >
          </div>
          <div
            class="max-h-0 overflow-hidden transition-[max-height,padding] duration-400 px-5 group-[.active]:max-h-[120px] group-[.active]:pb-5"
          >
            <h3
              class="text-[15px]! font-medium! text-black/50! leading-[1.5]! m-0!"
            >
              Powering Global e-Invoicing Alongside Regulators
            </h3>
          </div>
        </div>
        <div
          class="group relative border-b border-black/10 first:border-t before:content-[''] before:absolute before:left-0 before:top-0 before:bottom-0 before:w-[3px] before:bg-[var(--color-purple)] before:rounded-r-[3px] before:scale-y-0 before:transition-transform before:duration-300 before:ease flex flex-col [&.active]:before:scale-y-100"
          data-ssr="integrations"
        >
          <div
            class="flex items-center justify-between p-[20px_16px_20px_20px] cursor-pointer transition-colors duration-200 hover:bg-black/4"
          >
            <span
              class="text-[18px] font-bold text-black/45 transition-[color,font-size] duration-300 group-[.active]:text-black group-[.active]:text-[20px] group-[.active]:font-bold"
              >Integrations</span
            >
            <svg
              viewBox="0 0 22 22"
              fill="none"
              height="22"
              width="22"
              class="text-[#a5a5a5] transition-[transform,color] duration-300 shrink-0 group-[.active]:rotate-180"
              ><path
                d="M7 9l4 4 4-4"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path></svg
            >
          </div>
          <div
            class="max-h-0 overflow-hidden transition-[max-height,padding] duration-400 px-5 group-[.active]:max-h-[120px] group-[.active]:pb-5"
          >
            <h3
              class="text-[15px]! font-medium! text-black/50! leading-[1.5]! m-0!"
            >
              Deep integrations means minimal to no changes in your daily
              workflow
            </h3>
          </div>
        </div>
        <div
          class="group relative border-b border-black/10 first:border-t before:content-[''] before:absolute before:left-0 before:top-0 before:bottom-0 before:w-[3px] before:bg-[var(--color-purple)] before:rounded-r-[3px] before:scale-y-0 before:transition-transform before:duration-300 before:ease flex flex-col [&.active]:before:scale-y-100"
          data-ssr="security"
        >
          <div
            class="flex items-center justify-between p-[20px_16px_20px_20px] cursor-pointer transition-colors duration-200 hover:bg-black/4"
          >
            <span
              class="text-[18px] font-bold text-black/45 transition-[color,font-size] duration-300 group-[.active]:text-black group-[.active]:text-[20px] group-[.active]:font-bold"
              >Security</span
            >
            <svg
              viewBox="0 0 22 22"
              fill="none"
              height="22"
              width="22"
              class="text-[#a5a5a5] transition-[transform,color] duration-300 shrink-0 group-[.active]:rotate-180"
              ><path
                d="M7 9l4 4 4-4"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path></svg
            >
          </div>
          <div
            class="max-h-0 overflow-hidden transition-[max-height,padding] duration-400 px-5 group-[.active]:max-h-[120px] group-[.active]:pb-5"
          >
            <h3
              class="text-[15px]! font-medium! text-black/50! leading-[1.5]! m-0!"
            >
              Powering Global e-Invoicing Alongside Regulators
            </h3>
          </div>
        </div>
        <div
          class="group relative border-b border-black/10 first:border-t before:content-[''] before:absolute before:left-0 before:top-0 before:bottom-0 before:w-[3px] before:bg-[var(--color-purple)] before:rounded-r-[3px] before:scale-y-0 before:transition-transform before:duration-300 before:ease flex flex-col [&.active]:before:scale-y-100"
          data-ssr="support"
        >
          <div
            class="flex items-center justify-between p-[20px_16px_20px_20px] cursor-pointer transition-colors duration-200 hover:bg-black/4"
          >
            <span
              class="text-[18px] font-bold text-black/45 transition-[color,font-size] duration-300 group-[.active]:text-black group-[.active]:text-[20px] group-[.active]:font-bold"
              >Service and Support</span
            >
            <svg
              viewBox="0 0 22 22"
              fill="none"
              height="22"
              width="22"
              class="text-[#a5a5a5] transition-[transform,color] duration-300 shrink-0 group-[.active]:rotate-180"
              ><path
                d="M7 9l4 4 4-4"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path></svg
            >
          </div>
          <div
            class="max-h-0 overflow-hidden transition-[max-height,padding] duration-400 px-5 group-[.active]:max-h-[120px] group-[.active]:pb-5"
          >
            <h3
              class="text-[15px]! font-medium! text-black/50! leading-[1.5]! m-0!"
            >
              End-to-end assistance for your business
            </h3>
          </div>
        </div>
      </div>

      <div class="relative flex items-stretch min-h-full">
        <div
          class="hidden animate-[ssrFadeIn_0.4s_ease] w-full [&.active]:flex [&.active]:items-stretch active"
          data-ssr-graphic="compliance"
        >
          <div class="flex flex-col gap-[14px] w-full">
            <div class="tw-grid gap-[14px] grid-cols-3 sm:grid-cols-3">
              {
                complianceCardsRow1.map((c) => (
                  <div class="bg-[var(--color-white)] rounded-[12px] p-4 flex flex-col transition-[transform,box-shadow] duration-200 border border-black/12 hover:-translate-y-[3px] hover:shadow-[0_8px_24px_rgba(0,0,0,0.06)]">
                    <div class="flex gap-4 flex-wrap items-center min-h-[34px] mb-[36px] sm:gap-3">
                      {c.flags.map((f) => (
                        <img src={f} alt="" class="w-10 h-auto" />
                      ))}
                    </div>
                    <div class="flex flex-col h-full justify-end">
                      <div class="text-[18px] font-semibold mb-2 text-[var(--color-dark)]">
                        {c.name}
                      </div>
                      <p class="text-[16px] text-[var(--color-gray-500)] leading-[1.45] m-0">
                        {c.desc}
                      </p>
                    </div>
                  </div>
                ))
              }
            </div>
            <div class="tw-grid gap-[14px] grid-cols-4 sm:grid-cols-4">
              {
                complianceCardsRow2.map((c) => (
                  <div class="bg-[var(--color-white)] rounded-[12px] p-4 flex flex-col transition-[transform,box-shadow] duration-200 border border-black/12 hover:-translate-y-[3px] hover:shadow-[0_8px_24px_rgba(0,0,0,0.06)]">
                    <div class="flex gap-4 flex-wrap items-center min-h-[34px] mb-[36px] sm:gap-3">
                      <img src={c.flag} alt="" class="w-10 h-auto" />
                    </div>
                    <div class="flex flex-col h-full justify-end">
                      <div class="text-[18px] font-semibold mb-2 text-[var(--color-dark)]">
                        {c.name}
                      </div>
                      <p class="text-[16px] text-[var(--color-gray-500)] leading-[1.45] m-0">
                        {c.desc}
                      </p>
                    </div>
                  </div>
                ))
              }
            </div>
          </div>
        </div>

        <div
          class="hidden animate-[ssrFadeIn_0.4s_ease] w-full [&.active]:flex [&.active]:items-stretch"
          data-ssr-graphic="integrations"
        >
          <div
            class="w-full rounded-[14px] border border-black/10 bg-[#f3f3f5] overflow-hidden"
          >
            <div class="md:h-[262px] bg-[#E5DFF1]">
              <div class="relative w-full h-full rounded-[4px] overflow-hidden">
                <img
                  src="/images/global/integrations/mandate-logos.png"
                  alt=""
                  class="w-full h-full min-h-[131px] md:min-h-0 object-cover"
                />
              </div>
            </div>
            <div
              class="px-8 py-7 grid grid-cols-1 md:grid-cols-3 gap-6 bg-[#FDFDFB]"
            >
              <div>
                <div
                  class="text-[18px] font-semibold leading-[1.44] text-black"
                >
                  2,000+
                </div>
                <p
                  class="m-0 mt-3 text-[16px] font-regular leading-[1.5] text-black"
                >
                  Successful Integrations
                </p>
              </div>
              <div>
                <h3
                  class="m-0 text-[18px] font-semibold leading-[1.44] text-black"
                >
                  Multiple Systems
                </h3>
                <p class="m-0 mt-3 text-[16px] text-black leading-[1.5]">
                  EPRs, POS, Handheld systems
                </p>
              </div>
              <div>
                <div
                  class="text-[18px] font-semibold leading-[1.44] text-black"
                >
                  100+
                </div>
                <p
                  class="m-0 mt-3 text-[16px] font-regular leading-[1.5] text-black"
                >
                  Integration engineers
                </p>
              </div>
            </div>
          </div>
        </div>

        <div
          class="hidden animate-[ssrFadeIn_0.4s_ease] w-full [&.active]:flex [&.active]:items-stretch"
          data-ssr-graphic="security"
        >
          <div class="flex flex-col w-full">
            <div class="grid sm:grid-cols-1 gap-4 lg:grid-cols-3 w-full">
              {
                securityCards.map((card, index) => (
                  <div
                    class="bg-[var(--color-white)] rounded-[12px] p-5 flex items-start gap-4 transition-[transform,box-shadow] duration-200 border border-black/12 hover:-translate-y-[3px] hover:shadow-[0_8px_24px_rgba(0,0,0,0.06)]"
                    style={`background:${card.bg}`}
                  >
                    <div
                      class="flex items-center justify-center shrink-0 [&_svg]:w-10 [&_svg]:h-10"
                      set:html={card.icon}
                    />
                    <div class="flex flex-col flex-1">
                      <div class="text-[18px] font-semibold mb-2 text-[var(--color-dark)]">
                        {card.title}
                      </div>
                      <p class="text-[14px] text-[var(--color-gray-500)] leading-[1.45] m-0">
                        {card.desc}
                      </p>
                    </div>
                  </div>
                ))
              }
            </div>
          </div>
        </div>

        <div
          class="hidden animate-[ssrFadeIn_0.4s_ease] max-w-[858px] min-h-[350px] w-full [&.active]:flex [&.active]:items-stretch"
          data-ssr-graphic="support"
        >
          <div
            class="w-full rounded-[14px] border border-black/10 bg-[#FDFDF8] p-6 lg:p-10 lg:pt-8"
          >
            <div
              class="grid grid-cols-1 lg:grid-cols-[320px_minmax(0,1fr)] gap-8 lg:gap-[40px] items-end"
            >
              <div class="max-w-[320px] order-2 lg:order-1">
                <h3
                  class="m-0 text-[18px] font-semibold leading-[1.44] tracking-[-0.02em] text-black"
                >
                  360° Support
                </h3>
                <p
                  class="m-0 mt-4 text-[16px] font-regular leading-[1.5] text-black"
                >
                  End-to-end assistance from onboarding to ongoing optimization
                  for your business
                </p>
              </div>
              <div
                class="relative max-w-[574px] h-[296px] w-full overflow-hidden order-1 lg:order-2"
              >
                <img
                  src="/images/global/integrations/mandate-logos-1.png"
                  alt=""
                  class="w-full h-auto object-contain"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-[48px] flex gap-2 items-center justify-center">
      <button
        class="flex items-center gap-2 p-[14px_40px]! bg-gradient-to-r! from-[#110072]! to-[#7a5698]! text-white! rounded-[60px]! text-[16px]! font-medium! leading-[1.5]! border-none outline-none"
        >Learn more <span class="inline-flex">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3 8H13M13 8L9 4M13 8L9 12"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </span></button
      >
    </div>
  </div>
</section>

<style is:global>
  @keyframes ssrFadeIn {
    from {
      opacity: 0;
      transform: translateY(8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>

<script is:inline>
  (function () {
    const root = document.currentScript.previousElementSibling;
    if (!root) return;
    const items = root.querySelectorAll("[data-ssr]");
    const graphics = root.querySelectorAll("[data-ssr-graphic]");
    items.forEach((item) => {
      // The header is the first child of the item (the div containing the label and chevron)
      const header = item.firstElementChild;
      header?.addEventListener("click", () => {
        const key = item.getAttribute("data-ssr");
        if (item.classList.contains("active")) return;
        items.forEach((i) => i.classList.remove("active"));
        graphics.forEach((g) => g.classList.remove("active"));
        item.classList.add("active");
        root
          .querySelector(`[data-ssr-graphic="${key}"]`)
          ?.classList.add("active");
      });
    });
  })();
</script>
